[2013-08-06 21:15] craffel opened #1 "Add segmentation evaluation"
Add a submodule segmentation.py which computes common metrics for segmentation.

[2013-08-06 21:15] craffel opened #2 "Add chord detection evaluation"
Add a submodule chord.py which implements common chord detection metrics.  I think you have code for this already right?  All the sampling and overlap kind of stuff.

[2013-08-06 21:18] craffel opened #3 "Add source separation metrics"
BSS-EVAL, PEASS, others?  Have you implemented these in Python Dawen?

[2013-08-06 21:19] craffel opened #4 "Add onset detection metric(s)"
See https://github.com/CPJKU/onset_detection/blob/master/onset_evaluation.py for example

[2013-08-13 15:39] bmcfee opened #5 "rename the repository/package?"
Hyphens are bad mojo for package names:

`import mir-evaluate`

will cause a syntax error.

Can we either:
- Move actual code into a sub-directory `mir_evaluate`, or
- Rename the repository to `mir_evaluate`?
- Or both?

Either way, the code should definitely be moved into a sub-directory to facilitate having an install script down the line.

[2013-10-14 23:20] bmcfee opened #6 "empty beat predictions throw exceptions"
The beat eval helper method `_clean_beats` throws a `ValueError` exception when there are no detected beats outside the boundaries.  This is probably not the correct behavior, as many of the metrics are well-defined for empty predictions.

[2013-10-20 18:37] #1 closed, assigned to bmcfee

[2013-10-20 18:43] bmcfee opened #7 "segment.frame*: gracefully handling end-of-track discrepancies"
Given boundary time-stamps for the ground truth and prediction annotations, frame-based metrics operate by generating samples between each pair of boundaries.

Often, we have to compare two annotation sequences that don't line up exactly (due to sampling quantization, etc).  For example, the ground truth may list the final segment boundary at 243.900, while the prediction may list it at 243.85.

I

[2013-11-13 15:45] bmcfee opened #8 "output methods: csv, json, pickle"
It would be useful to be able to output reports in either flat format (csv), or structured objects (json, pickle).

[2013-11-15 06:36] #2 closed, assigned to mattmcvicar

[2013-12-02 16:29] bmcfee opened #9 "boundary import to include labels"
`util.import_segment_boundaries` currently loads in data of the flavor:

[code]

Right now, it only processes the time information.  We should extend this to return segment labels as well.

Maybe we should generify the loader to support this kind of i/o for chord (or arbitrary) annotations as well?

[2013-12-03 19:23] #9 closed, assigned to bmcfee

[2013-12-03 19:38] bmcfee opened #10 "RFC: rounding time-stamps on import and/or adjustment to ground truth?"
Should we add a feature to automatically round (segment boundary) timestamps upon import?

This would provide more reliable behavior in `util.adjust_segments` when trimming a prediction file against a ground truth annotation.  For example, a prediction file might list the end-of-track at 201.955, while the ground truth has it at 201.96.  In this case, we probably don't want or need to append a fin

[2013-12-04 16:53] bmcfee opened #11 "validate input data"
Data import should throw an exception if the input is not well-formed.

Example:

[code]

should fail loudly upon import.

[2013-12-04 17:58] #11 closed, assigned to bmcfee

[2013-12-05 21:57] #5 closed, assigned to craffel

[2013-12-05 21:58] #4 closed, assigned to craffel

[2013-12-05 22:00] craffel opened #12 "Sonification"
Not exactly a metric, but it would be nice to have something which, e.g., synthesized beeps at a list of times and added them back to the original audio to perform "evaluation by ears", because not all of us use sonic visualizer.  Similarly, we could synthesize chord labels, chromagrams, etc.
- [x] Time indices (beats, onsets, segments)
- [x] Piano roll/time-frequency representation inversion
- [x

[2014-01-15 16:55] #6 closed, assigned to craffel

[2014-01-17 18:16] bmcfee opened #13 "io module, refactor loaders"
- [x] Split the annotation loader into separate functions for annotations with or without duration
- [x] Move i/o into a submodule `io`

[2014-01-17 21:23] #13 closed, assigned to bmcfee

[2014-01-17 21:23] #7 closed, assigned to bmcfee

[2014-01-17 21:24] #10 closed, assigned to bmcfee

[2014-01-17 21:29] bmcfee opened #14 "Demo evaluator scripts for all submodules"
Each submodule should have a driver program that can be operated from the command line, and output each metric's score in a machine-readable format.  These should follow the general formula of

[code]

e.g.

[code]
- [x] @craffel beats
- [x] @craffel onsets
- [x] @ejhumphrey chords
- [x] @dawenl bss
- [x] @bmcfee segments
- [x] @justinsalamon melody
- [x] @urinieto pattern

I'll push the segment d

[2014-01-20 08:30] #3 closed, assigned to dawenl

[2014-01-21 19:18] craffel opened #15 "Pylint"
Make the pylint score better.

[2014-01-21 19:55] craffel opened #16 "Unit tests"
Create unit tests, which should verify that the output is the same as reference implementations.
- [x] beat should match the beat evaluation toolbox http://code.soundsoftware.ac.uk/projects/beat-evaluation/ @craffel
- [x] onset should match https://github.com/CPJKU/onset_detection/blob/master/onset_evaluation.py @craffel
- [x] separate should match http://bass-db.gforge.inria.fr/bss_eval/ @dawenl

[2014-01-21 19:56] craffel opened #17 "Sphinx docs"
Clean up docstrings and set up compilation

[2014-01-21 23:19] craffel opened #18 "beat.information_gain should not replicate beat evaluation toolbox exactly"
Currently, beat.information_gain matches the unusual histogram binning used in the beat evaluation toolbox.  It should use uniform bins instead.  It was changed from uniform bins to the beat evaluation toolbox in commit 9aa7b701f9d967751852b853fb39f3c4f16bc004 and should be changed back once we have a reference release which matches MIREX exactly.

[2014-01-21 23:42] craffel opened #19 "Verify against MIREX"
We are currently unit testing against various codebases.  We should really be verifying against MIREX.  Code is here: https://code.google.com/p/nemadiy/source/browse/analytics/trunk/src/main/java/org/imirsel/nema/analytics/evaluation/

[2014-01-22 00:00] craffel opened #20 "Remove sklearn dependency"
Ideally, we'd like to minimize dependencies as much as possible.  sklearn is not unreasonable but we want to minimize the barrier of entry to its absolute lowest (numpy/scipy).  This is low priority, but it would be nice eventually.

[2014-01-22 17:41] craffel opened #21 "MIREX mode"
There should be an environment variable which forces all metrics into "MIREX compatibility mode", because in all submodules there are proposed changes to deviate from MIREX.

[2014-02-20 02:06] bmcfee opened #22 "function to build a chord alphabet?"
The chord module does reduction to a specific alphabet, but there doesn't seem to be a way to ask for a list of the chords in the chosen alphabet.

I'm thinking the following:

[code]

and so on for all of the other supported alphabets.  That way, it will be simple to construct and label the states of a chord model.

Ideally, the ordering of the chord alphabet should be well-defined, eg:
- no-chor

[2014-02-22 21:55] craffel opened #23 "Fix on naming conventions"
Yeah

[2014-02-22 23:55] craffel opened #24 "Move segment._boundaries_to_frames to util.time_range_to_frames"
Should also take in a list of labels to use, optionally.

[2014-02-23 00:03] craffel opened #25 "Convert segment to use event start and end time format"
They are currently using the old list of boundaries format.

[2014-02-23 00:06] craffel opened #26 "NCE metrics should use labels and don't"

[2014-02-23 00:13] craffel opened #27 "Add melody extraction evaluation"
Or get Justin to do it.

[2014-02-23 19:39] #24 closed, assigned to craffel

[2014-02-23 19:39] #26 closed, assigned to bmcfee

[2014-02-23 19:39] #25 closed, assigned to craffel

[2014-03-26 20:03] craffel opened #28 "display submodule"
For making useful qualitative plots for eval-by-eye

[2014-03-26 20:03] craffel opened #29 "Merge common functionality across submodules into util"

[2014-03-26 20:04] craffel opened #30 "Refactor code to obey the design doc"
https://github.com/craffel/mir_eval/wiki/Design

[2014-03-29 19:24] craffel opened #31 "Data validation functions"
In mir_eval.beat, there's a function _clean_beats (which I'm in the process of removing/refactoring) which essentially takes as input an array of beat locations and runs a series of assertions about its content - e.g., that it is a 1d np.ndarray, no beat times are negative, all beat times are less than 30,000 (largely to make sure the beat times are in seconds).  It also sorts the beat times.

Giv

[2014-03-30 17:21] craffel opened #32 "Add pattern discovery metrics"
Code is available here:
http://www.music-ir.org/mirex/wiki/2013:Discovery_of_Repeated_Themes_%26_Sections#Data

[2014-03-30 18:07] craffel opened #33 "Add code for mapping to chord subalphabets"

[2014-03-31 14:47] ejhumphrey opened #34 "util.intervals_to_samples() -- return time array?"
I'm thinking it might it be more consistent to return an array of time points with this function (especially in light of rounding)? Granted it can be easily computed / created, but it (1) prevents users from screwing it up and (2) enables a pass-through loop that would make converting intervals -> samples -> intervals -> samples trivial, both for practice and testing purposes.

[2014-03-31 15:05] ejhumphrey opened #35 "input_output.load_time_series() -- allow "value" column to support strings?"
for convenience: https://github.com/craffel/mir_eval/blob/master/mir_eval/input_output.py#L229

Is there any strong opposition to extending this function such that the second column could be strings / labels? The docstring for np.loadtxt makes it look like this would be a simple fix...

[2014-03-31 20:43] dawenl opened #36 "segment unit test fails"
(posted by Colin)

On my computer, the segment unit test matches exactly.  On Dawen and Eric's (and maybe other's) computers, the segmentation unit test fails on the following metrics:

Pair-P 0.760466079298 0.759487707538 False
Pair-R 0.439344606659 0.439064910407 False
Pair-F 0.556932313401 0.55644516106 False
ARI 0.36752433328 0.366763678811 False
MI 0.69019595974 0.690003644248 False
AMI 0.414

[2014-04-07 14:44] craffel opened #37 "Submodules should include ordered dictionaries listing all metrics"
Each task submodule should have a member `METRICS` which is an ordered dict.  The keys should be strings which are the names of each metric, and the values should be the functions which implement each metric.
- [x] beat  @craffel
- [x] onset @craffel
- [x] separate @dawenl
- [x] segment @bmcfee
- [x] chord @ejhumphrey
- [x] melody @justinsalamon
- [x] pattern @urinieto

[2014-04-10 19:31] craffel opened #38 "Split segment submodule into two submodules"
One for boundary, and one for structure

[2014-04-14 14:13] #32 closed, assigned to urinieto

[2014-04-14 14:26] craffel opened #39 "Metrics should include example usage"
Each metric in each task submodule should include an example usage in the docstring, which includes loading and preprocessing data from a file and calling the metric, e.g.

[code]
- [x] beat  @craffel
- [x] onset @craffel
- [x] separate @dawenl
- [x] segment @bmcfee
- [x] chord @ejhumphrey
- [x] melody @justinsalamon
- [x] pattern @urinieto

[2014-04-15 01:47] ejhumphrey opened #40 "Change "label_prefix" to "fill_value" in adjust_intervals?"
While I can see how a prefix might help (filtering and whatnot), it'd be super helpful in chord-rec to just specify what the out-of-boundary label is / should be. I think this would be more elegant than writing chord parsing code to clean up the result after the fact.

Any major objections or justifications I'm not seeing? @bmcfee I think this is relevant to you?

[2014-04-15 03:51] #33 closed, assigned to ejhumphrey

[2014-04-16 15:43] #36 closed, assigned to bmcfee

[2014-04-16 18:41] bmcfee opened #41 "io.load_jams_range: obscure exception"
I'm getting the not-so-helpful exception:

which obscures down-stream errors from jams.  I suggest redoing this with a decorator that first verifies that the jams import succeeded (raising the above exception if not), and then the loader proceeds with no try-catch so that errors are passed upstream.

[2014-04-17 17:43] bmcfee opened #42 "efficiency of structure.pairwise"
`structure.pairwise` currently uses `np.triu_indices` to find all unique pairs of frames and evaluate their agreement.  It turns out that this is woefully inefficient in memory, as `np.triu_indices` constructs an intermediate (int64) masking matrix.

This should be replaced with a more direct implementation with leaner memory requirements.

[2014-04-17 17:51] #42 closed, assigned to bmcfee

[2014-04-17 21:57] craffel opened #43 "RFC: Empty reference and estimated"
In all of the metrics (I believe), a special case must be made when the reference annotations are empty and/or the estimated annotations are empty.  In the case where one is empty and the either isn't, I think we can all agree that the resulting metric should be 0 (please disagree if you can think of a good case).  If both are empty, it gets a little fuzzier.  The onset detection metric (f-measure

[2014-04-18 15:44] craffel opened #44 "Warn when reference or estimation are empty and return 0"
The warning code should go in each submodule's validator.  Metrics should return 0 (or an otherwise appropriate "you got it wrong" value).
- [x] beat  @craffel
- [x] onset @craffel
- [x] separate @dawenl
- [x] segment @bmcfee
- [x] chord @ejhumphrey
- [x] melody @justinsalamon
- [x] pattern @urinieto

[2014-04-18 15:44] #43 closed, assigned to nobody

[2014-04-18 17:49] #22 closed, assigned to mattmcvicar

[2014-04-18 21:00] craffel opened #45 "chord.score should be a decorator"
... which decorate the comparator functions so that each comparator is callable as a metric.

[2014-04-18 23:25] craffel opened #46 "We should use the decorator module, not functools.wraps"
`functools.wraps` maintains `__name__` and `__doc__` but mangles the function signature.  The `decorator` module (not in stdlib) "does the right thing".

[2014-04-19 00:03] craffel opened #47 "numpy error when intervals is length 2"
A bogus edge case but when calling `score`, if `len(reference_labels) == len(estimated_labels) == 1` and `len(intervals) == 2`, then

[code]

returns an array with shape `()`, and the line

[code]

which indexes it with a boolean array of size 1 gives the following numpy error:

[code]

[2014-04-19 04:36] craffel opened #48 "Regression tests and (actual) unit tests"
Each task submodule should have a testing script in `tests` which performs unit/sanity tests and regression tests against the current stable implementation of the code.  This is all primarily to prevent bugs from creeping in the code.  We're not trying to unit test against an existing implementation anymore.

**Regression tests**
- [x] beat  @craffel
- [x] onset @craffel
- [x] separate @dawenl
- [

[2014-04-19 04:36] #16 closed, assigned to craffel

[2014-04-21 13:34] bmcfee opened #49 "convention for empty intervals"
I ran across this curious example in the SALAMI dataset this morning, and it got me thinking about how we should handle semantically questionable (but syntactically valid) inputs.  The example in question comes from `988/parsed/textfile1_functions.txt`, and the offending lines (events) are:

[code]

mir_eval happy loads these as events, and following the zipping convention, converts to intervals w

[2014-04-21 16:31] #38 closed, assigned to bmcfee

[2014-04-21 17:06] craffel opened #50 "Watch out for arange"
`np.arange` may not give consistent results across calls.  This may be an issue when resampling the timebases in `melody`.

[2014-04-21 20:39] #50 closed, assigned to craffel

[2014-04-22 00:23] #37 closed, assigned to nobody

[2014-04-22 16:11] #27 closed, assigned to justinsalamon

[2014-04-22 19:05] #47 closed, assigned to ejhumphrey

[2014-04-22 19:47] #31 closed, assigned to nobody

[2014-04-23 16:59] #49 closed, assigned to nobody

[2014-04-23 20:21] #45 closed, assigned to craffel

[2014-04-24 00:52] justinsalamon opened #51 "melody.to_cent_voicing returns a single boolean value for est_voicing instead of an array"
Which makes the validation raise an exception (rightly so!). Looking into it now...

[2014-04-24 01:07] #51 closed, assigned to justinsalamon

[2014-04-24 01:26] justinsalamon opened #52 "nans when the reference melody has no voiced frames"
When the reference has no voiced frames (i.e. all 0 Hz), the following lines in melody.py return nans:

[code]

A simple fix would be to add epsilon to the denominator, but in theory there should never be a reference file with no voiced frames (melody extraction on a file without any melody...), meaning this case is more likely to indicate a faulty reference file. So I think it would probably make

[2014-04-24 03:40] #52 closed, assigned to craffel

[2014-04-24 04:32] craffel opened #53 "Merge beat/onset validate to util.validate_events"
They do the same thing.  They should be moved to util.validate_events.

[2014-04-24 16:54] #53 closed, assigned to nobody

[2014-04-25 01:18] craffel opened #54 "Remove METRICS dictionary"
tl;dr - the METRICS dictionary doesn't really serve the purpose I want it to, and the evaluators do, so it shouldn't exist.

In some cases, metrics within the same task might have a different number of arguments.  This used to be the case in `segment` before it got split into `boundary` and `structure`.  It's currently true in `melody`; `voicing_measures` just takes in voicing arrays while the res

[2014-04-28 17:12] #18 closed, assigned to craffel

[2014-04-28 20:21] craffel opened #55 "beat.goto doesn't return 1 as often as beat evaluation toolbox"
In other words, something's probably wrong with it.

[2014-04-29 05:08] #55 closed, assigned to craffel

[2014-04-29 05:16] craffel opened #56 "RFC: Do negative event locations make sense?"
`util.validate_events` raises a `ValueError` when events are less than 0, but MIREX and the beat evaluation toolbox seem to allow them.  Some MIREX submissions in, e.g., beat and onset tasks do actually produce negative events (although the beat evaluation toolbox trims all beats before 5 seconds, which includes negative beat locations).  If you have a reference annotation
`[0.0, 1.0, 2.0]`
and an

[2014-04-29 17:32] craffel opened #57 "beat.p_score is sensitive to offsets"
Probably due to the fact that the sequences are turned into sampled impulse trains.  This is true in the beat evaluation toolbox too.  Seems like it shouldn't be.

[code]

[code]

[2014-04-29 17:58] #57 closed, assigned to craffel

[2014-04-29 18:45] craffel opened #58 "beat.continuity can raise an IndexError when beat sequences are length 2"
[code]

raises an `IndexError` on line 403 because when `m = 0` (first estimated beat) then `nearest = 1` and `nearest + 1 = 2 > reference_beats.shape[0] - 1`

[2014-04-29 18:49] #56 closed, assigned to craffel

[2014-04-30 17:49] craffel opened #59 "Refactor time series sampling in melody"
Per discussion elsewhere, `mir_eval.melody.resample_melody_series` should take in a new_times argument instead of a hop arg.  The input frequencies and voicing will be resampled to this new time grid.  There should also be a function which generates a constant-hop time grid.

Additionally, `resample_melody_series` should take in an interpolation type arg which is passed to `scipy.interpolate.inter

[2014-04-30 19:28] #59 closed, assigned to craffel

[2014-05-05 01:58] bmcfee opened #60 "edge cases in boundary trimming"
Trimming beginning/end of track can cause errors if one of the annotations consists of a single interval.  In these cases, the trimmed annotation becomes an empty list.

Boundary metrics should issue a warning in this event, and default to sensible null values.

[2014-07-03 20:37] craffel opened #61 "Code for creating regression test data"
We need a script which can take in data and create the scores for the regression test.  This could be the evaluators provided that they can output .json in the correct format.

[2014-07-03 20:40] #41 closed, assigned to ejhumphrey

[2014-07-04 18:46] craffel opened #62 "Move chord.evaluate_file_pair to the evaluator"
We can have a data preprocessing function (filtering and merging intervals) in .chord, like melody.to_cent_voicing:
https://github.com/craffel/mir_eval/blob/master/mir_eval/melody.py#L218
but we shouldn't have a function in the task submodule which loads in data, and also we shouldn't have a function in the task submodule which runs all of the metrics - those are things which should be moved to th

[2014-07-06 19:28] #15 closed, assigned to craffel

[2014-07-14 17:26] craffel opened #63 "Separate out scoring function in mir_eval.chord"
The chord metrics currently take in a list of labels, compare them, and then the score decorator compiles their results by weighting the score of each cord by the interval.  We should separate this out in case the end user wants to use other statistics.

[2014-07-14 17:39] #40 closed, assigned to nobody

[2014-07-21 19:25] #17 closed, assigned to craffel

[2014-07-21 19:25] #21 closed, assigned to craffel

[2014-07-21 22:30] #34 closed, assigned to nobody

[2014-07-21 22:37] #19 closed, assigned to craffel

[2014-07-21 23:21] #46 closed, assigned to craffel

[2014-07-22 15:34] craffel opened #64 "Make validate functions not be decorators"
Decorators as-is mangle the function's attributes (docstring, call structure, etc).  `functools.wrap` alleviates some, but not all of these issues.  The `decorator` or `wrapt` modules can fix this basically, but you have to define a separate set of args and kwargs for the decorator and the new function the decorator creates (see http://wrapt.readthedocs.org/en/latest/decorators.html#processing-fun

[2014-07-22 16:51] #64 closed, assigned to craffel

[2014-07-24 17:59] #14 closed, assigned to nobody

[2014-07-24 17:59] craffel opened #65 "evaluator binaries"
Create command-line binaries for the evaluators.

[2014-07-24 22:32] #12 closed, assigned to craffel

[2014-07-24 22:36] #30 closed, assigned to nobody

[2014-07-24 23:27] #58 closed, assigned to craffel

[2014-07-24 23:31] #23 closed, assigned to craffel

[2014-07-25 14:40] craffel opened #66 "io.load_wav"
We need this for the evaluator and the example usage of `separate.bss_eval_sources` so we should add it to `io`.

[2014-07-25 14:58] craffel opened #67 "util.generate_labels"
As part of the refactoring for #35, `io.load_events` and `io.load_intervals` will not generate synthetic labels if no labels are present.  So, in the case that someone wants to create synthetic labels, we need a separate function, `util.generate_labels`, which should do the same thing that `io.load_events` and `io.load_intervals` do when no labels are present in the annotation file: Take in a labe

[2014-07-25 15:41] #67 closed, assigned to craffel

[2014-07-25 16:45] #35 closed, assigned to nobody

[2014-07-25 17:23] #66 closed, assigned to craffel

[2014-07-25 17:45] #60 closed, assigned to bmcfee

[2014-07-25 19:10] craffel opened #68 "Implement more separation metrics"
Although `bss_eval` is pretty standard, there are more:
http://bass-db.gforge.inria.fr/peass/
http://labrosa.ee.columbia.edu/projects/snreval/

[2014-07-25 22:22] #39 closed, assigned to nobody

[2014-07-25 22:24] craffel opened #69 "Docstring audit"
Before releasing 0.1, check the dosctrings for valid usage examples and that the doc represents how the function currently works.
- [x] index
- [x] beat
- [ ] chord
- [x] io
- [x] melody
- [x] onset
- [x] pattern
- [x] segment
- [x] separation
- [x] sonify
- [x] util

[2014-08-22 21:04] #20 closed, assigned to bmcfee

[2014-08-26 15:05] craffel opened #70 "Move evaluate method to task submodules"
As part of moving away from the METRICS dictionary, each submodule will have an `evaluate` method as is seen in the evaluators.  It will take in data in the appropriate format and call all of the metric functions in the standard way.  The `evaluate` functions should then be removed from the evaluators.
- [x] beat
- [x] segment
- [ ] chord
- [x] melody
- [x] onset
- [x] pattern
- [x] separation

[2014-08-26 18:48] craffel opened #71 "Change back melody call signature order"
In https://github.com/craffel/mir_eval/commit/7a2cacc34a51a4675dfca42d14b1791bb58a59fc the order of the arguments for melody metrics was changed from
`ref_cent, ref_voicing, est_cent, est_voicing`
to
`ref_voicing, est_voicing, ref_cent, est_cent`
so that the validate_voicing decorator could be used on metrics which use both cent and voicing.  We aren't using decorators anymore, so we can change ba

[2014-08-26 22:26] #71 closed, assigned to craffel

[2014-08-27 16:37] craffel opened #72 "Merge boundary/structure back into segment"
Now that we aren't using the METRICS dictionary or validate decorators, we don't need to have these submodules split.

[2014-08-27 17:17] #72 closed, assigned to nobody

[2014-08-27 19:13] #61 closed, assigned to craffel

[2014-08-27 19:14] craffel opened #73 "Update regression tests to use evaluate() style data and not METRICS"
- [x] beat
- [ ] chord
- [x] melody
- [x] onset
- [x] pattern
- [x] segment
- [x] separation

[2014-08-27 19:27] justinsalamon opened #74 "Python3 compatibility"
Apparently in python 3 the print statement was replaced with a print function, meaning that instead of
```print x``` you need to call ```print(x)```. Consequently, this breaks mir_eval on Python 3 (brought to my attention by someone trying to use mir_eval on Windows 7 with Python 3.4).

Perhaps we should replace all calls to ```print x``` with e.g. ```sys.stdout.write(x)``` which should work both

[2014-08-31 14:04] justinsalamon opened #75 "Load time series no longer uses comma delimiter for .csv"
In it's early iteration [load_time_series](https://github.com/craffel/mir_eval/blob/master/mir_eval/io.py#L214) selected the delimiter based on the filename extension, using whitespace for .txt and comma for .csv files:

[code]

It seems that this functionality has been dropped in the new load_time_series function in io.py. Apart from breaking my code, I was wondering whether there was a specific

[2014-09-02 02:10] #75 closed, assigned to nobody

[2014-09-02 12:54] rikrd opened #76 "Melody evaluation: output the matching of each individual value of the input time series"
This is quite useful to know which values have been matched to the reference or ground truth and which not.

This cannot be done if the input time series is resampled to match the reference signal's sample rate, but if the sample rates match or if the reference is resampled to match the input time series, then it would be very useful.

[2014-09-02 12:57] rikrd opened #77 "Melody evaluation: allow modification of the accepted frequency deviation"
Currently the tolerance for an estimated frequency value to be matched to a reference frequency value is fixed at 50 cents.

https://github.com/craffel/mir_eval/blob/master/mir_eval/melody.py#L419
https://github.com/craffel/mir_eval/blob/master/mir_eval/melody.py#L477

In some tasks it is interesting to accept a lower tolerance, in those cases having this value as a keyword argument will be very p

[2014-09-02 13:05] rikrd opened #78 "Melody evaluation: allow resampling reference to match estimated"
Currently the only resampling choices available are to a custom hop step and to match the reference.

https://github.com/craffel/mir_eval/blob/master/mir_eval/melody.py#L283-L286

In some cases it may be interesting to resample the reference to match the estimated.  For instance when trying to figure out which estimated values are incorrect and which not.

[2014-09-02 17:34] #78 closed, assigned to nobody

[2014-09-03 02:34] #77 closed, assigned to nobody

[2014-09-03 02:37] #76 closed, assigned to nobody

[2014-09-04 22:49] urinieto opened #79 "Change segmentation metric name from detection to hit rate"
The "detection" segmentation metric is most commonly called "hit rate". I also think that "hit rate" is more meaningful, especially now that boundaries and structure are merged.

Should we do this change?

[2014-09-05 16:34] #48 closed, assigned to craffel

[2014-09-05 16:35] craffel opened #80 "Unit/regression tests for io and util"
Currently, only the task submodules have unit/regression tests.

[2014-09-05 17:02] #44 closed, assigned to nobody

[2014-09-05 19:39] craffel opened #81 "Update chord"
`mir_eval.chord` needs the following changes to be up-to-date with the structure/conventions of the other modules, before 0.1 gets released:
- [x] Separate out scoring function #63
- [x] Make `evaluate` function #70
- [x] Move `evaluate_file_pair` to the evaluator #62
- [x] Docstring audit/reformatting #69
- [x] Evaluator should output json and match other evaluator's structure #8
- [x] Regression

[2014-09-05 19:39] #63 closed, assigned to ejhumphrey

[2014-09-05 19:39] #62 closed, assigned to ejhumphrey

[2014-09-05 19:39] #8 closed, assigned to craffel

[2014-09-05 19:39] #29 closed, assigned to craffel

[2014-09-05 19:39] #54 closed, assigned to craffel

[2014-09-05 19:39] #70 closed, assigned to craffel

[2014-09-05 19:39] #73 closed, assigned to craffel

[2014-09-09 00:05] #69 closed, assigned to craffel

[2014-09-09 00:06] craffel opened #82 "Put online in other places"
Once 0.1 is finalized, add it to pypi.  ~~Also put the evaluator binaries online.~~

[2014-10-06 19:24] craffel opened #83 "Sphinx :member-order: bysource doesn't work"
We use `:member-order: bysource` (see docs/index.rst) ostensibly so that the order in which things show up in the compiled docs is the order in which they are defined in the source.  But, they don't; they show up in alphabetic order which is the default.  This is kind of annoying and I don't know why it's not working.  @bmcfee @dpwe any ideas?

[2014-10-09 03:40] #83 closed, assigned to craffel

[2014-10-09 18:58] craffel opened #84 "util refers to segments instead of intervals in various places"
This is left over from moving them out of the segment submodule. Interval is a more generic term which should be used to avoid confusion.

[2014-10-09 19:02] #84 closed, assigned to craffel

[2014-10-09 22:08] craffel opened #85 "Add usage for all evaluate functions"
For user friendliness.

[2014-10-09 22:35] #81 closed, assigned to nobody

[2014-10-10 01:44] #79 closed, assigned to urinieto

[2014-10-10 03:58] #85 closed, assigned to craffel

[2014-10-10 21:10] bmcfee opened #86 "Citation"
Don't forget to add a DOI and make it citable!

https://guides.github.com/activities/citable-code/

[2014-10-10 21:16] #86 closed, assigned to craffel

[2014-10-11 17:11] craffel opened #87 "Get rid of magic value in util.validate_events"
When validating events, a maximum event time is enforced via a `ValueError`:
https://github.com/craffel/mir_eval/blob/master/mir_eval/util.py#L619
This is basically to ensure that the supplied event times are in seconds, but a magic value should not be used.  Instead, `MAX_TIME` should be defined in the submodules which use `validate_events` (`beat` and `onset`) and passed to validate_events; this

[2014-10-11 17:13] craffel opened #88 "Check that input to separate.bss_eval_sources is (nsrc, nsamples)"
If the input matrix is transposed, the result would be a ridiculously huge and incorrect computation.  This should be enforced by ensuring that `reference_sources.shape[0] < MAX_SRC` and `estimated_sources.shape[0] < MAX_SRC`, where `MAX_SRC` is a constant defined in `mir_eval.separation`.

[2014-10-12 03:38] #87 closed, assigned to craffel

[2014-10-12 03:53] #88 closed, assigned to craffel

[2014-10-12 19:35] craffel opened #89 "Up the version number to 0.1"
When it's time it's time.

[2014-10-13 15:00] craffel opened #90 "Tests use glob, which has different order on Mac/Linux"
They should use sorted globs instead.

[2014-10-13 15:14] #90 closed, assigned to craffel

[2014-10-13 20:11] dawenl opened #91 "Potential +/-Inf dB SXR in separation"
Edge case: Under certain unusual cases, we might have +/-Inf dB SXR (for example, one true source being all 0, or one estimated source being all 0) but currently `bss_eval_sources` will return `nan` or incorrect number.

[2014-10-13 20:42] craffel opened #92 "Remove references to evaluator binaries"
For 0.1, we won't be including evaluator binaries due to them crashing on some systems.  So, we need to remove all references to them in docs, etc.

[2014-10-13 20:48] #92 closed, assigned to craffel

[2014-10-14 07:28] #91 closed, assigned to dawenl

[2014-10-14 16:43] craffel opened #93 "mir_eval.beat.goto throws error when track_start is an array"
In fe8eb5ac2028840c82818ebc70874ab78b63ac2f , https://github.com/craffel/mir_eval/blame/master/mir_eval/beat.py#L346 was changed from

[code]

to

[code]

This means that track_start is sometimes an array with more than one element (when there are multiple tracks with the maximal track length).  This causes an error.

[2014-10-14 16:46] #93 closed, assigned to craffel

[2014-10-20 15:11] andyr0id opened #94 "consistency between metrics (specifically F-measure)"
Hi, thanks for this very useful library.

I have noticed a small inconsistency between some metric function outputs that are shared between some of the submodules. F-measure is one of them.

When evaluating based of F-measure it is often useful to know the precision and recall values. Calculating F-measure in the "onset" submodule returns this information, whereas the "beat" submodule does not.

[2014-10-21 03:28] #82 closed, assigned to craffel

[2014-10-21 03:28] #89 closed, assigned to craffel

[2014-10-28 08:17] craffel opened #95 "io loaders should allow for string filename or file handles"
Like np.savetxt, etc.

[2014-10-28 08:39] #95 closed, assigned to craffel

[2014-10-28 09:26] craffel opened #96 "Do we need to require numpy >= 1.7.0?"
Or is 1.6.1 sufficient?  `apt-get install python-numpy` installs 1.6.1 still..!

[2014-11-24 20:56] ejhumphrey opened #97 "All chord comparators should ignore 'X' labels."
The "X" chord convention is used in some chord transcriptions (e.g. Billboard) to signify that the musical content is not harmonic / poorly described by a different chord label. As a result, any "X" chords in a reference annotation should (arguably) be ignored in evaluation.

As of c8867b6e4669, the following comparison functions return non-negative scores for reference "X" chords.
* thirds
* thir

[2014-11-25 02:47] ejhumphrey opened #98 "chord.mirex produces erroneous results on "N" chords."
Comparison function only looks at set bits in the semitone representation; therefore, "N" chords are never correct.

[2014-12-03 19:31] bmcfee opened #99 "tempo estimation validation"
I just finished validating mir_eval's tempo estimation metrics against (private) MIREX 2014 data.  Everything validates to machine precision.

I think we're safe merging the develop branch back into master.

TO-DO:

- [x] add regression tests for tempo evaluation

[2014-12-04 01:37] bmcfee opened #100 "load_delimited and friends fail with quoted fields"
I ran into this while testing against the mirex tempo estimation ground truth data.  CSV inputs often have quoted fields, so something like the following is not uncommon:

[code]

Using `float` as the column interpreter fails, since it cannot parse the " symbols.

I don't think we should rely on the end-user to specify the column interpreter here; it should work out of the box.

PS: once more for

[2014-12-04 15:03] rabitt opened #101 "melody.evaluate does not give perfect scores when estimate and reference are identical"
Just for kicks, I fed melody.evaluate the same file for the reference and the estimate.

[code]

I was surprised to see that the scores are high, but not 100%:

[code]

Maybe there's a bug buried somewhere?

[2014-12-04 20:57] #101 closed, assigned to craffel

[2014-12-09 20:13] ejhumphrey opened #102 "chord.mirex produces erroneous results on chords with less than three semitones."
The mirex comparison function incorrectly considers chord spellings that result in fewer than three active semitones, e.g. `C:maj(*3)` or `C:5`; this is the same issue that caused #98, but the fix will need to be different.

The seemingly logical thing to do would be the following, when comparing a reference `R` and an estimation `E`:
* if sum(R.semitones) < 3 and R != 'N', -> -1
* else -> mirex(R

[2014-12-19 10:51] rabitt opened #103 ""incomplete" files passed to melody.evaluate should pass a warning."
f0 annotations are often output by algorithms with the "unvoiced" frames omitted, resulting in an incomplete set of time stamps. I was evaluating one of these types of melody output against a ground truth (with all time stamps, f0=0 for unvoiced frames), and melody.evaluate runs without problems.

After a brief talk with @justinsalamon, I learned that melody.evaluate is actually interpolating the

[2015-02-10 15:23] bmcfee opened #104 "numpydoc format docstrings"
**tldr: changing the docstring format will make integration easier.**

## Background
I've implemented a [first cut](https://github.com/marl/jams/commit/4413d2dfe3192d875e04d16dbf1fb2b2ce0686b1) at JAMS<->mir_eval integration, as described in [this comment thread](https://github.com/marl/jams/issues/16) (paging @justinsalamon).

The basic idea here is that jams provides wrappers for the top-level m

[2015-02-10 15:26] craffel commented on #104
Go for it!

[2015-02-10 15:27] bmcfee commented on #104
... damn.

lil help?

[2015-02-10 15:41] craffel commented on #104
https://github.com/dadadel/pyment ?

[2015-02-10 16:18] bmcfee commented on #104
Nope, pyment doesn't correctly parse the current docstrings.

[2015-02-10 21:58] bmcfee commented on #104
074eeb3f423d10ff9591aa395c59b5c40908607e

[2015-02-10 21:58] #104 closed

[2015-02-11 01:55] craffel commented on #104
:+1:

[2015-03-20 10:06] nils-werner opened #107 "Use Travis CI"
Since you already have tests it is generally a good idea to have [Travis CI](https://travis-ci.org/craffel/mir_eval) to actually run them for every commit and pull request.

A simple `.travis.yml` could look like (not tested)

    language: python
    python:
        - "2.7"
        - "3.3"
        - "3.4"
    virtualenv:
        system_site_packages: true
    install:
        - sudo apt-get updat

[2015-03-20 10:18] faroit opened #108 "py.test fails"
current master 72bb77a fails at two tests:

[code]

[2015-03-20 17:14] craffel commented on #107
Yes, this is something we've been meaning to add!  Thanks for this.  We currently aren't officially supporting Python 3 (#74).  Otherwise, do you want to create a PR for this?

[2015-03-20 17:24] craffel commented on #108
I'm not getting the first failure.  What is the result when you run the following code?
[code]

You should get an invalid chord exception (this is what the test which failed for you is checking for).  cc @ejhumphrey

For the second failure, it looks like glob.glob(REF_GLOB) is empty, which means that `'data/melody/ref*.txt'` is empty/nonexistant from where you're running tests.  What command are y

[2015-03-20 17:33] craffel commented on #108
Ah, interestingly, if I run the tests with py.test instead of nose, the `InvalidChordException` is not raised.  Maybe py.test somehow ignores this line?
[code]

[2015-03-20 17:36] craffel commented on #108
One option which should fix this would be to make it so that rather than having a constant `STRICT_BASS_INTERVALS`, we just have a keyword argument `strict_bass_intervals` in `chord.encode` (the only place this constant is used).  I actually like this more than having a module-level constant.  @ejhumphrey  what do you think?  Why did you use a constant in the first place?

[2015-03-20 17:50] ejhumphrey commented on #108
I can dig it.​

​Originally I was punting on a decision I wanted to resolve​ definitively;
now, I guess I see the value to both modes of operation, and an argument
makes sense.

[2015-03-20 17:54] craffel opened #109 "Make STRICT_BASS_INTERVALS an argument to encode"
The constant `chord.STRICT_BASS_INTERVALS` should be made a keyword argument (default `False`) to the function `chord.encode`.  This is a little more pythonic (arguably), and also will avoid a weird pytest error #108.

[2015-03-20 17:54] craffel commented on #108
OK, separate issue created #109.

[2015-03-20 22:31] nils-werner commented on #107
I'd love to. I suggest you added this repo to Travis first, so my PR will immediately be tested.

[2015-03-21 17:19] craffel commented on #107
OK, I added this repo to travis.

[2015-03-21 17:21] nils-werner commented on #107
I've implemented it all in PR #113. Sorry for the other messy PRs before :-)

[2015-03-21 17:21] #107 closed

[2015-04-02 10:11] grrrr opened #114 "Segmentation evaluation: 'NCE Over' score delivers wrong result"
The following code
[code]
delivers 0 for the NCE over-segmentation score, although it should be 1.
A realistic example where this happens is SALAMI index 32, for the two annotations given as reference and estimate, respectively.

[2015-04-02 10:17] grrrr commented on #114
A similar strangeness occurs for the following
[code]
Obviously, the cause is the presence of only one kind of labels.

[2015-04-02 12:46] bmcfee commented on #114
I agree that it's a little counter-intuitive when the reference and estimates are identical, but NCE is actually undefined in the cases you list above due to a factor of `1/log(1)` (see the original [paper](http://ismir2008.ismir.net/papers/ISMIR2008_219.pdf), section 3).  This is also covered briefly in the mir_eval [paper](http://bmcfee.github.io/papers/ismir2014_mireval.pdf), section 4.6.

We m

[2015-04-02 12:59] grrrr commented on #114
I see, thanks! I am looking forward to reading the arguments. For my taste, this choice is more than a little counter-intuitive for typical segmentation evaluation purposes.

[2015-04-02 13:43] bmcfee commented on #114
It's not coming up in my search (maybe @craffel can track it down?), but off the top of my head, the main points were as follows:

1. Whatever convention we pick should be consistent between nce_over and nce_under, so that `nce_over(ref, est) = nce_under(est, ref)` (and vice versa).

2. With the 1 convention, it's possible for an estimator to "cheat" by producing an annotation with only one label

[2015-04-02 13:56] grrrr commented on #114
Many thanks for that, i’ll take more time later to digest the info.
Having one type of labels is not really degenerate - it is so only for a „state approach“, as introduced by Peeters 2004, typically used with clustering algorithms.
With a „sequence approach“, having a succession of same-type labels is totally valid. The difference between the approaches is mainly that the first one sees segments

[2015-04-02 14:03] bmcfee commented on #114
Fair enough.  Most of the time when I see this in data, it's really just one long segment (eg, "crowd noise"), and not several repetitions of the same pattern (`AAA`), though that does happen.

None of this changes the fact that NCE is ill-posed in that situation, so you probably shouldn't rely on it as an evaluation no matter which `0/0` convention is adopted.

[2015-04-02 14:07] grrrr commented on #114
If you spot AAA to be crowd noise, it should really be "Z" and be reported as a bug ;-)

[2015-04-02 18:42] craffel commented on #114
I'm not finding it either.  This discussion may have happened IRL, so it's good that we are getting it out again here.

I don't think dropping the sklearn dependency removed any functionality, am I wrong? The commit in question: b0cc4e6

[2015-04-02 18:48] bmcfee commented on #114
No, but I think we agreed (offline) to purge the v_measure implementation first so we'd have one fewer dependency on sklearn.  (Also, nobody's ever used v_measure for music structure, so it was kind of an oddball anyway.)

[2015-04-08 16:58] grrrr opened #115 "Segmentation evaluation - boundary detection: to trim or not to trim / special segment labels"
Quite frequently, ground-truth annotations contain leading and/or trailing silence, typically (e.g. in SALAMI) annotated using special segment labels like 'Silence'. When such a special segment label appears at the front, the start time of this segment does not contain a real boundary which boundary detection algorithms would find, conversely for ending times of silent end segments.
Currently, it

[2015-04-08 17:48] bmcfee commented on #115
Do you mean the start or the end of the first segment?

In a well-formed annotation, the start time should be 0, which I've argued should never be counted as positive hits.  Setting `trim=True` will discount the first and last segment boundaries: the only reason it's set to `False` is backwards compatibility against mirex by default.

If you mean the end time of the first segment, then you're talk

[2015-04-08 18:47] grrrr commented on #115
The start of the first segment, or conversely, the end of the last segment.

Exactly, but this is difficult terrain. In SALAMI, the two following variations appear equally often, here shown with (start,end,label) triplets:

(0, 0.3, 'Silence'), (0.3, 10, 'A'), .... , (120, 130, 'C'), (130, 131, 'Silence')
or
(0, 10, 'A'), .... , (120, 131, 'C')

In the first case, the annotator was very careful ch

[2015-04-08 18:51] craffel commented on #115
This sounds a lot to me like a specific problem with SALAMI due to the annotators not following the same annotation rules.

Unless this is a widely-agreed upon (across annotators, datasets, researchers, etc) standard, i.e. "When the first or last segment is labeled Silence, ignore it", I think it's outside of the scope of `mir_eval`.  That is, it seems like a dataset/annotator-specific issue which

[2015-04-08 18:59] grrrr commented on #115
It is actually a very general problem with any kind of human annotation, but if this is the way mir_eval should be used, i am fine with it.

[2015-04-08 19:01] bmcfee commented on #115
:+1:

This is a pretty nasty rabbit hole, especially if you apply the same logic to segment labels.  For instance, the mirex implementation of structural annotation metrics has a bunch of special cases for segment labels to ignore (see [here](https://code.google.com/p/nemadiy/source/browse/analytics/trunk/src/main/resources/org/imirsel/nema/analytics/evaluation/structure/resources/condEntropyEval.

[2015-04-08 19:04] craffel commented on #115
Yes, `mir_eval` as a philosophy tries to avoid dealing with annotation issues - i.e., it assumes that the annotations are clean/correct - because this is a realm where researchers can disagree a lot.  In order to be as "standard" as possible, we need to leave issues like this up to the annotators/dataset.

OK, closing this.  Thanks for bringing this up, Thomas.

[2015-04-09 13:22] f0k commented on #115
I wouldn't agree with that. As Thomas said, there may be two different situations. A file could start with silence:
0  1.2  Silence
1.2  10  A
or a file could start right away with the song:
0  12.5  A
12.5 20 B

Do you say that getting the boundary at 1.2 for the first file should be counted as a hit, while getting the boundary at 0.0 for the second file should be discarded as trivial? And do you

[2015-04-09 13:41] urinieto commented on #115
Hi all,

The way I approached this problem, without having to modify any reference
annotations or the mir_eval implementation, is the following:

- Detect all boundaries in a track
- If the first boundary detected does not start at time 0, add a "silent"
segment in the beginning (this might happen e.g., when you work with
beat-synchronous features).
- Do the same for the end: if the last boundary

[2015-04-09 13:47] bmcfee commented on #115
Yes, and yes.  There are a few arguments in favor of both.

1. There's more to structure than just boundary event detection: structure annotation is also important.  Most annotation metrics operate on a fixed set of sample times spanning `[0, T_MAX]`, so all annotations for a given track have to cover that range in order to be comparable to the reference.  If they don't, we have to pad or trim the

[2015-04-09 14:03] f0k commented on #115
I considered the two examples I gave to be references for two different songs: One that starts with 1.2 seconds of silence, and one that starts with music right away.

I don't necessarily think 1.2 is trivial. I thought the idea of `trim=True` was to treat silence->nonsilence and nonsilence->silence as not meaningful, because they're easy to detect and have a significant influence on results.

The

[2015-04-09 14:07] bmcfee commented on #115
No, the idea is really just to suppress the really obvious freebies that arise from the necessity of interval-based annotation.  Silence->nonsilence may or may not be trivial, but trim doesn't make that call.

Quite correct.  I'd say that in no case is beginning-of-file important.  In the cases where they coincide, I'd say that beginning-of-music is also not meaningful, since there's no contrastin

[2015-04-09 15:25] craffel commented on #115
I'm going to defer the actual segmentation discussion to you all because it's not my area, but in response to this

As far as I can tell, the issue is that for some annotators in one dataset, a label 'Silence' is included at the beginning or end.  If `mir_eval` handles this, do we also need to (as @bmcfee pointed out) handle `Crowd Noise`?  What about `Fade-in`?  `Silent Intro`?  Etc.  All of thes

[2015-04-24 15:53] rabitt opened #117 "io.load_delimited fails for unicode strings"
It's easy to work around this problem, but I'll mention it regardless. When a file path that is passed to io.load_delimited is a unicode string, a value error is raised.

[code]

[2015-04-24 16:02] craffel commented on #117
I didn't even know filesystems supported unicode filenames.  The fix would be to change https://github.com/craffel/mir_eval/blob/develop/mir_eval/input_output.py#L54 to
[code]

[2015-04-24 17:42] bmcfee commented on #117
Two things:

1) use `isinstance`, not type equivalence.  The code above won't handle subclasses of str or unicode, but you probably should support that.

2) `six` provides a sane version of this through `six.stringtypes`.  see [here](https://pythonhosted.org/six/)

[2015-04-24 18:03] craffel commented on #117
Ok, if/when we add `six` as a dependency (cc https://github.com/craffel/mir_eval/pull/113#discussion_r26895157 ) we should do `isinstance(six.stringtypes)`.

[2015-04-24 18:20] bmcfee commented on #117
Even if you're really dead-set against adding dependencies, six is intentionally self-contained as a single file that you can drop into your codebase.  Scipy does this (see: scipy/_lib/six.py).

[2015-04-24 18:22] craffel commented on #117
I'm totally fine with adding `six` as a dependency.

[2015-04-24 18:27] urinieto commented on #117
Full support to the idea of adding six as a dependency.

On Fri, Apr 24, 2015 at 2:22 PM, Colin Raffel <notifications@github.com>
wrote:

[2015-06-23 18:22] bmcfee opened #120 "Docstrings in pattern functions need more detail"
The documentation for `patterns.evaluate` and `io.load_patterns` does not actually explain the data structure produced by the loader, or required by the evaluator.

In `load_patterns`, you get
[code]
but this does not explain what `N`, `M`, and `O` are.

[2015-06-23 18:32] craffel commented on #120
What do you want it to say, "where `N` is the number of patterns, `M` is the number of occurrences, and `O` is the number of onsets"?  Or just remove the indexes, e.g. `pattern_list = [patterns ...]`?  Is the description "Loads the patters contained in the filename and puts them into a list of patterns, each pattern being a list of occurrence, and each occurrence being a list of (onset, midi) pair

[2015-06-23 18:36] bmcfee commented on #120
Better yet:
[code]
As it currently reads, it's not clear that there is a separate M for each pattern, and a separate O for each occurrence.

A small, but complete example would help a lot here.

[2015-06-23 18:39] urinieto commented on #120
That's exactly it. I can come up with a little example and update it myself if you want.

[2015-06-23 18:39] craffel commented on #120
Ok, feel free to make these changes, or get @urinieto to do it.  If neither of you do it, I can try to hack at it eventually, but I have virtually no experience/understanding of the pattern discovery task.

[2015-06-23 18:39] urinieto commented on #120
Lucky you.

[2015-06-24 16:50] urinieto commented on #120
Done it. I added the 5th symphony canonical motive as an example. Let me know if you need anything else.

[2015-06-25 13:50] urinieto commented on #120
Should we close this?

[2015-06-25 13:54] bmcfee commented on #120
Looks good!

[2015-06-25 13:56] #120 closed

[2015-07-18 21:55] bmcfee opened #121 "beat.information_gain fails when <2 beats"
This comes through from `beat._get_entropy`, where it looks at the inter-onset interval without checking that the beat array is large enough.

There should probably be:

* an exception in entropy if there are fewer than two beats
* a try-except in information_gain which sets the score to 0 (or nan, but i think 0 is appropriate here).  This way, a call to `beat.evaluate()` will still work, even whe

[2015-07-18 22:43] craffel commented on #121
Hm, I guess this should have been covered when we were thinking about #44.  I'm surprised that other metrics don't also fail when there's only when annotation - is information gain the only one you checked?  I'd like to avoid an exception or NaN; see discussion starting here https://github.com/craffel/mir_eval/issues/43#issuecomment-40770763.  I need to investigate, but I think we actually just ne

[2015-07-18 23:17] bmcfee commented on #121
No, but I haven't done a thorough test either.  This one just happened to come up in some corner cases of a parameter optimization I'm running.

Sure.  I was thinking the exception would be caught within mir_eval and handled as a special case, not punted up to the user.  You can hard-wire the special case without exceptions also, depending on which ends up being cleaner.

[2015-07-20 02:47] craffel opened #122 "Handle corner cases correctly"
Currently, there's code for special-case handling of empty annotations (see #44), but not for some other corner cases.

`beat`:

- [x] `cemgil`
- [x] `continuity`
- [x] `f_measure`
- [x] `goto`
- [x] `information_gain`
- [x] `p_score`

[code]

`chord`: All ok

[code]

`melody`: All ok

[code]

`onset`: All ok

[code]

`pattern`:

- [x] `establishment_FPR`
- [x] `first_n_target_proportion_R`
- [x]

[2015-07-20 02:47] craffel commented on #121
Moving this issue to a bigger issue #122

[2015-07-20 02:48] craffel commented on #122
@urinieto can you fix `pattern.standard_FPR`?

I will start looking at the beat issues.

[2015-07-20 02:52] craffel opened #123 "tempo.evaluate missing parameters in docstring"
The current docstring https://github.com/craffel/mir_eval/blob/develop/mir_eval/tempo.py#L111 is missing information about all parameters except for `**kwargs``.

[2015-07-20 02:54] craffel opened #124 "Don't require that tempi be provided in ascending order"
Currently, the docstring for `tempo.detection` states that `reference_tempi` and `estimated_tempi` be provided as two-element `np.ndarray`s, such that their first entry is smaller than their second.  Why not just require that two tempi are passed for both, and simply sort them?  I believe it's just a matter of comparing them in the correct order, unless I'm mistaken.

[2015-07-20 17:01] #121 closed

[2015-08-28 10:27] grrrr commented on #115
Hi all,
as i am dealing with this issue for the MIREX submission again, some further input:
- stripping of leading or trailing known "silent" segments (denoting the absence of any signal) from ground-truth and predictions should be done in a preprocessing step. It seems we agree that this a not in the scope of mir_eval.
- the first and last resulting boundary _should_ be included in the evaluation

[2015-08-28 13:28] bmcfee commented on #115
I agree that this isn't mir_eval's job; I'm not sure I agree that it should be done though.  If, as you say below, the transition from silence to non-silence is meaningful, then shouldn't that information be retained?

Do you mean the extents of the "song" (whatever that might mean)?

Yes, I absolutely agree.  Maybe a compromise here is to run through the data and figure out which tracks have lead

[2015-09-16 13:18] craffel opened #126 "Travis fails, rake not found"
Travis is currently reporting:

[code]

[2015-09-16 15:29] bmcfee commented on #126
Looks like this is because .travis.yml is only in develop, not master.

[2015-09-16 15:30] craffel commented on #126
Indeed.  We should just merge develop into master and handle things in the normal way.

[2015-09-16 19:32] #97 closed

[2015-09-16 19:32] #98 closed

[2015-09-16 19:32] #102 closed

[2015-09-16 19:33] #126 closed

[2015-09-16 19:33] craffel commented on #74
This should be handled by #113.

[2015-09-16 19:33] #74 closed

[2015-09-17 15:32] craffel opened #128 "Make tempo evaluator (and submodule?) Python3 compatible"
It fell through the cracks because it was merged separately, I guess.  E.g.
https://github.com/craffel/mir_eval/blob/master/evaluators/tempo_eval.py#L60

[2015-09-17 17:31] bmcfee opened #129 "travis build on 3.4, 3.5?"
The current config is set for 2.7 and 3.3; we should at least bump to 3.4 since [nobody really uses 3.3](http://www.randalolson.com/2015/01/30/python-usage-survey-2014/).  3.5 would be nice as well.

[2015-09-17 17:35] craffel commented on #129
Sounds good, go for it!

[2015-09-17 17:43] bmcfee commented on #129
Any objection to adding coveralls support, while i'm at it?

[2015-09-17 17:46] craffel commented on #129
No, please do!  It was on some to-do list somewhere.

[2015-09-17 17:48] bmcfee commented on #129
Roger.

Also, any thoughts about replacing this wheels download with a miniconda environment?  Conda's scipy packages get updated much more regularly, apparently.

[2015-09-17 17:49] craffel commented on #129
Yeah, I'd prefer miniconda.  I actually thought that's what we were using, but I didn't add the travis support, so what do I know.

[2015-09-17 17:51] bmcfee commented on #129
Alright.  Maybe i'll rename this issue to "generally fix up the CI configs"

[2015-09-17 17:51] craffel commented on #129
:+1:

[2015-09-17 17:55] bmcfee commented on #129
Got it.  Miniconda doesn't yet have 3.5 support http://continuum.io/blog/python35 , so let's hold off on that one for now.

[2015-09-17 18:01] craffel commented on #129
Closed via #130.

[2015-09-17 18:01] #129 closed

[2015-09-17 18:13] bmcfee commented on #124
Sure, we can do that.  It's mainly there to follow the mirex convention.  More generally, `weight` is the relative weight of the first tempo vs the second, and the actual ordering doesn't matter at all.  By convention, it applies to the slower of the two, but that's not necessary for the metric to work.

Maybe we should just clarify the docstring instead?

[2015-09-17 18:15] craffel commented on #124
Either is fine.

[2015-09-17 20:39] bmcfee commented on #100
picking this one up again..

In general, *sv files do use quote characters, and no, they're not generally consistent.  This is part of the enormous headache of writing a csv parser.  I wouldn't say that it's exactly "common" for any particular task, but I'd expect it to happen more often for tasks like segmentation, where the label space can be open and have strings with spaces.

The way I see it,

[2015-09-17 20:56] craffel commented on #128
Fixed in #131

[2015-09-17 20:56] #128 closed

[2015-09-17 20:56] craffel commented on #124
Fixed in #131

[2015-09-17 20:56] #124 closed

[2015-09-17 20:58] craffel commented on #123
Fixed in #131

[2015-09-17 20:58] #123 closed

[2015-09-17 21:08] craffel commented on #100
Well, as we discussed above `mir_eval` shouldn't include a general-purpose CSV parser, it should include a parser for the formats used for each of the tasks included, which is a subset of CSV-land.  I am comfortable telling someone that their tempo annotation file is not valid because it has quotes in it and then letting them either fix their files or use the parser of their choice instead of `mir

[2015-09-17 21:15] bmcfee commented on #100
Ok.  Well in that case, I think this issue is a no-op.

(PS: you should install pandas. and the evaluators should return dataframes instead of ordereddicts. :))

[2015-09-17 21:25] craffel commented on #100
Ok, closing.

Not using pandas is the only thing maintaining the fragile boundary between the work I do and statistics.

[2015-09-17 21:25] #100 closed

[2015-09-17 21:27] bmcfee commented on #99
This one should be closed as well via #131, right?

[2015-09-17 21:27] craffel commented on #99
Check that damn box first!

[2015-09-17 21:39] bmcfee commented on #100
What's the line... the opposite of "statistics" isn't "no statistics" but "bad statistics"?  (I kid, i kid...)

[2015-09-17 21:43] craffel commented on #100
Well, like I said, it's a fragile margin - so if anything, it's "marginally bad statistics".  I can live with that.

[2015-09-17 21:59] bmcfee commented on #114
It seems like this discussion died off... is there anything to actually do on this issue?

Or shall we just all agree to throw our hands up and admit "NCE considered harmful"?

[2015-09-17 22:01] bmcfee commented on #99
:white_check_mark:

[2015-09-17 22:01] #99 closed

[2015-09-24 15:33] justinsalamon opened #132 "event_validation limits onset times to <=30000"
It looks like the maximum allowable onset time is [hardcoded](https://github.com/craffel/mir_eval/blob/master/mir_eval/onset.py#L32) to 30000. We're using mir_eval for some environmental recordings that are longer than 8 hours, and so the code spits a value error and dies.
[code]
Shouldn't this threshold be an optional input parameter?

[2015-09-24 15:41] craffel commented on #132
It's not hardcoded, just set `mir_eval.onset.MAX_TIME = 1e100`before calling any functions in `mir_eval.onset`.  This was discussed briefly here https://github.com/craffel/mir_eval/issues/87

[2015-09-24 15:53] justinsalamon commented on #132
righty! cheers

[2015-09-24 15:53] #132 closed

[2015-10-16 14:28] bmcfee opened #133 "filter_kwargs and python 3.5 compatibility"
`util.filter_kwargs` uses the inspect module's `getargspec` function [here](https://github.com/craffel/mir_eval/blob/master/mir_eval/util.py#L715), which is deprecated in python 3.5.

In python 3, this has been replaced with the `signature` function (see [here](https://docs.python.org/3/library/inspect.html#inspect.signature)), which sadly doesn't work on py2.

You might be able to side-step this

[2015-10-16 15:46] craffel commented on #133
I don't think so, it looks like that function just retrieves default values for arguments, rather than the name of each argument (what we need).

So, as far as you know, none of the python 2 backport libraries include code for this?  It looks like sklearn has just copied this https://pypi.python.org/pypi/funcsigs into their library.  I'd be ok with adding funcsigs as a dependency, as it's pure Pyt

[2015-10-16 15:49] bmcfee commented on #133
Yeah, you're right.  I realized that after suggesting it, but forgot to edit the comment.  Meanwhile: paging @amueller for any additional insight on this.

[2015-10-16 16:08] craffel commented on #133
Here's a little function which re-implements the part of `getargspec` we need:
[code]
Usage:
[code]
Spot anything wrong with that?  If not, I'll submit a PR to change the call to `getargspec` to the `func_code` method above.

[2015-10-16 16:57] bmcfee commented on #133
Seems legit, I guess?  We'll probably need to set up a test environment for py3.5, but afaik travis/miniconda don't have this yet.  (There is a full anaconda distribution with 3.5, but that's a big heavy for test environments.)

[2015-10-16 16:58] amueller commented on #133
https://travis-ci.org/scikit-learn/scikit-learn/jobs/85767336#L1012

[2015-10-16 17:10] bmcfee commented on #133
Huh.  Well shut my mouth!  Last I checked, miniconda didn't have 3.5.

[2015-10-16 17:25] craffel commented on #133
Ok.  I will try to do this all in one go then.

[2015-10-16 19:41] #108 closed

[2015-10-16 22:54] #133 closed

[2015-10-16 23:03] craffel commented on #117
Addressed in #135

[2015-10-18 15:45] #117 closed

[2015-10-19 14:02] craffel commented on #115
Any further comments/action items on this, or can I close?

[2015-10-19 14:03] #114 closed

[2015-10-19 14:04] craffel commented on #103
@rabitt @justinsalamon any progress/plan on adding this functionality?

[2015-10-19 14:08] craffel opened #136 "Get 100% coverage"

[2015-10-19 14:08] craffel commented on #80
Subsumed by #136

[2015-10-19 14:08] #80 closed

[2015-10-19 14:10] craffel commented on #65
Now that `mir_eval`-as-a-service works, there isn't nearly enough motivation to have binaries.  Both allow no-dependency command-line calls to be made.  The advantage of the binaries are that they don't require internet access, and would probably be much faster.  But, I think it's fair to ask people to set up a Python environment if they need those things.

[2015-10-19 14:10] #65 closed

[2015-10-19 14:13] justinsalamon commented on #103
I'll work on this later on this week. I agree with @craffel's last suggestion - by default we should only issue a warning when the time series is non-uniform, and provide the option to explicitly active an intermediate "silence imputation" step.

[2015-10-24 10:10] #115 closed

[2015-10-24 10:11] craffel commented on #103
@justinsalamon Do you think you'll work on this today or tomorrow?  Trying to get a release out by tomorrow night.  If not, I can look into it.

[2015-10-24 11:35] craffel commented on #96
Just tested with numpy 1.5.1, the earliest version in conda.  PR for updating the dependency lists: #137

[2015-10-24 12:02] craffel commented on #96
Oops, nevermind, conda doesn't have numpy <= 1.7 for  Python 3, so let's skip this.

[2015-10-24 12:10] #96 closed

[2015-10-24 13:17] craffel opened #138 "Re-PEP-8"

[2015-10-24 13:17] craffel opened #139 "Re-compile docstrings with numpydoc"

[2015-10-24 14:14] #109 closed

[2015-10-24 15:46] justinsalamon commented on #103
@craffel I'm in the middle of a shitstorm of work, topped by the icing of having to move apartments. Right now the only "builds" I'm working on is disassembling my ikea furniture :hammer:  Wasn't aware there was a release pending, sorry. In this case, you might want to take a quick look.

[2015-10-24 16:04] #138 closed

[2015-10-24 17:59] craffel commented on #103
How would you (and @rabitt) feel for now just issuing a warning when `not np.allclose(np.diff(times), np.diff(times).mean())`?  And then we can add the functionality for files with gaps at a later date, if @rabitt wants to port her code?

[2015-10-24 18:15] justinsalamon commented on #103
I think that could work for now, yes. Something along the lines of "Warning: non-uniform timestamps detected. Pitch will be linearly interpolated between every pair of points. Silences should be indicated by nonpositive values (as per MIREX)." (just a suggestion).

[2015-10-25 10:16] craffel commented on #103
PR: #142

[2015-10-25 10:58] craffel opened #143 "Parameter verification"
We should check that metric parameters are provided with sane values, and throw helpful errors when they are not.

[2015-10-25 12:11] craffel commented on #122
@urinieto pinging you to fix `pattern.standard_FPR`.

[2015-10-26 16:19] #103 closed

[2015-10-29 12:14] craffel opened #150 "sonify.chroma and sonify.chords should pass **kwargs to time_frequency"
So that `length` and `function` can be set.

[2015-10-29 17:06] craffel opened #151 "util.boundaries_to_intervals with labels is weird"
When `labels=None` (the default), `None` is returned.  We don't have any tests or code anywhere that doesn't use `labels=None`.  When `labels != None`, `labels[-1]` is returned.  There's no test that `len(labels) == len(boundaries)`, so this can lead to weird behavior.  It also pre-supposes that the final label should be discarded.  Is this actually a convention?  Is there any utility to cutting o

[2015-10-29 17:49] bmcfee commented on #151
This is another artifact of trying to support salami annotations.

I'm okay with dropping it, since the behavior is generally ambiguous.

[2015-10-30 00:54] craffel commented on #151
PR #152

[2015-10-30 00:55] #151 closed

[2015-10-30 01:02] craffel opened #153 "Unit test for util.bipartite_match"
Currently, the `recurse` function in `util.bipartite_match` is not covered by tests.  This is probably because none of the test annotations have any annotations which are close enough to warrant recursion, or something.  We don't have a unit test for it in general.  @bmcfee, can you add one which covers this case?

[2015-10-30 04:59] bmcfee commented on #153
I think you should be able to trigger this by doing an event match with very large window size. I'll try to work out a concrete example.

[2015-11-01 16:24] #136 closed

[2015-11-10 20:52] craffel commented on #153
Resolved in 3a6a8ce53eb7974db52104a834210b505b43f711 and 5b8fdecc1703863208838a29d4207d7b75fb78ca

[2015-11-10 20:52] #153 closed

[2015-11-10 22:04] #150 closed

[2015-11-11 15:32] #122 closed

[2015-11-11 17:25] craffel opened #159 "Docstring description for chord.tetrads is wrong?"
@ejhumphrey should this https://github.com/craffel/mir_eval/blob/master/mir_eval/chord.py#L933 read something like "Compare chords along tetrad (root, full quality, & bass) relationships." instead?

[2015-11-12 01:18] craffel opened #160 "frame_size in mir_eval.util.intervals_to_samples docstring?"
@bmcfee I think you wrote the docstring for `intervals_to_samples`.  https://github.com/craffel/mir_eval/blob/master/mir_eval/util.py#L112
Is `frame_size` supposed to be `sample_size`?

[2015-11-12 02:20] bmcfee commented on #160
Yup, good catch!

[2015-11-12 14:06] ehumphrey85 commented on #159
Yep, good catch!

[2015-11-12 15:12] craffel commented on #159
Fixed in 5655a8dce3a498b355038aaff490b96c1e3e91a0

[2015-11-12 15:12] #159 closed

[2015-11-12 15:12] craffel commented on #160
Fixed in 5655a8dce3a498b355038aaff490b96c1e3e91a0

[2015-11-12 15:12] #160 closed

[2015-11-12 16:06] craffel commented on #139
Fixed in 13bc31f17fde0a71256b8d9dcc4fe55fe3bf304c

[2015-11-12 16:06] #139 closed

[2015-12-08 13:33] faroit commented on #68
What about also supporting the [multichannel measures](http://bass-db.gforge.inria.fr/bss_eval/bss_eval_images.m)?

[2015-12-08 16:10] craffel commented on #68
Good idea!

[2015-12-16 15:45] stefan-balke opened #161 "Add window to melody.voicing_measures()"
What about adding a time tolerance to the voicing measures for melody extraction?

Couldn't we use this from the onset module?

    # Compute the best-case matching between reference and estimated onset
    # locations
    matching = util.match_events(reference_onsets, estimated_onsets, window)

I'm not sure if this is not too smart for a simple lookup in a region of events.
I also have to admit t

[2015-12-16 17:16] justinsalamon commented on #161
Interesting idea. Could you elaborate more on the motivation for adding this tolerance?

[2015-12-16 17:46] craffel commented on #161
I could see this being useful, but as far as I know no-one is doing it.  We usually try to stick to standardized metrics

Not really; matching events is intended for the case where you have a list of event times, e.g. `[1., 1.1., 1.5, 10., 13.]` and voicing is represented as a boolean array, e.g. `[0, 0, 0, 1, 1, 0, 0, 1, 1, 1]`.

[2015-12-16 18:04] justinsalamon commented on #161
Well, you could convert from the boolean array to event times with a diff (and knowledge of the sample rate). That said, it's indeed not a standardized metric. It's also problematic since all the metrics are per-frame - if you add a tolerance, conceptually the metric becomes "per-note" (onset), even though melody extraction algorithms have no notion of notes. Makes more sense for evaluating transc

[2015-12-16 18:08] justinsalamon commented on #161
p.s. also, unlike onset eval, if an AME algorithm is slightly off, it will only be marginally penalized (since only a few frames will be incorrect). Adding a tolerance would also be problematic since e.g. imagine an f0 sequence returned by an algorithm that has a few unvoiced frames in the middle, whilst the reference does not. For any sensible tolerance value this would still crop-up as a complet

[2015-12-17 12:19] stefan-balke commented on #161
Hey there,

first, my motivation comes from work I'm currently doing on annotator agreement:
I have several f0 trajectories for the same tracks and want to see if the different annotators are agreeing or not. Since MIREX is splitting the melody extraction task into voicing and frequency related subtasks, I do this as well.

So, when calculating the figures for the melody extraction, e.g. for frequ

[2015-12-17 13:26] justinsalamon commented on #161
@stefan-balke before digging further I must ask - how were your f0 annotations generated? To the best of my knowledge no human ever annotates an f0 curve manually, it is always obtained by means of an automatic pitch tracker that is then manually corrected. Does it makes sense to compare annotations under this scenario?

In any case, I think we're starting to veer off-topic (assuming the topic is

[2015-12-17 13:39] stefan-balke commented on #161
Okay, got this. My intention was more like "Oh, it's there for frequency and there might be the same thing for time in the package - so let's just spend another function parameter".
But that's fine, I'll add it in my local branch...

Coming back to your question @justinsalamon:
Yes, the annotations are from a tool which is based on the same salience function as MELODIA but with user input.
Rest is

[2015-12-17 13:39] #161 closed

[2015-12-17 14:38] craffel commented on #161
It's worth mentioning that if/when you suss out this technique and publish these results, it's the kind of thing we would be interested in having in a PR!

[2015-12-17 14:40] justinsalamon commented on #161
@craffel should we continue the discussion here then (for posterity's sake)?

[2015-12-17 14:46] craffel commented on #161
Up to you!

[2016-02-02 00:23] wangsix opened #162 "Question about the np.allclose() in utils.boundaries_to_intervals()"
I was porting SALAMI annotation files to .lab format and there are more than a few cases where the annotations look like this:

0.0 silence
0.0 Z

and the np.allclose() just can not handle arrays with different sizes (between boundaries and np.unique(boundaries) in this case). Although it still throws an error anyway...

And I am wondering how everyone deals with this issue? Having a 0-length inte

[2016-02-02 00:30] craffel commented on #162
Deferring to @bmcfee and @urinieto, as I'm sure they have experience with this.

[2016-02-02 13:01] bmcfee commented on #162
[paging @jblsmith ]

This was originally discussed in #49 , and I would consider it to be an error in the salami annotations / the salami parser.  (BTW, which version of the annotations are you using?  And can you point to a specific annotation?)

To summarize, there are a few things happening here:

1. Converting from events to intervals is only possible when intervals are disjoint; otherwise, en

[2016-02-02 19:17] wangsix commented on #162
Thanks for the reply!

The annotations are from the latest version on salami Github. The annotations have duplicate time stamps (meaning same time for two labels) are pasted below (a pretty long list).

14 textfile2_lowercase
14 textfile2_uppercase
28 textfile1_uppercase
28 textfile2_uppercase
32 textfile2_lowercase
32 textfile2_uppercase
34 textfile2_lowercase
34 textfile2_uppercase
42 textfile2_

[2016-02-02 19:43] bmcfee commented on #162
Yeah, those look like parse/semantic errors to me, mostly stemming from the `End` marker.

The JAMS-formatted data that I linked above might be on a slightly older version of SALAMI, but you could always re-run our parse script on the most recent checkout of the data.  There's explicit logic in there to drop empty segments.  Once it's in JAMS format, you can always dump out with the `jams_to_lab.p

[2016-02-03 06:04] jblsmith commented on #162
Hi all,

Just coming into the middle of this...

Glancing at issue #49, where the problem was durationless intervals: that
looks like a problem in SALAMI's own parser (conversion from textfile1
<https://github.com/DDMAL/salami-data-public/blob/master/annotations/988/textfile1.txt>
to textfile1_functions
<https://github.com/DDMAL/salami-data-public/blob/master/annotations/988/parsed/textfile1_funct

[2016-02-03 07:30] urinieto commented on #162
Thanks for reporting this @wangsix . My .02c:

* Whatever you do, make sure you report it correctly when you present results (e.g., if you decide to ignore some redundant boundaries, include a link to a file containing the exact boundaries that are ignored). Also, in case you decide to go ahead and modify the SALAMI set, maybe it would be a good idea to also report results using the original versi

[2016-02-04 14:37] bmcfee opened #165 "filter_kwargs parameter name collision"
I'm trying to use `util.filter_kwargs` on sonify functions, and hitting a collision with the argument `function`.

This would be fixed by renaming `filter_kwargs`'s `function` argument (not a keyword argument) to something unique, like `wrapped_function`.

This should be a trivial change, and I can PR if it sounds reasonable.

[2016-02-04 14:44] bmcfee commented on #165
.. sorry, just realized that report wasn't terribly precise.  The issue is that you can't use `filter_kwargs` on parameters whose names coincide with those of `filter_kwargs` itself, since you would have to have multiple values for the colliding names.

[2016-02-04 15:11] craffel commented on #165
I'm curious what the context is.

I see.  That's no problem, of course.  Though maybe we should be extra sure that a collision with the arg name doesn't happen, and call it something like `wrapped_function_87h12ry3b7926fyubun38796tyiuh2ig5uwte87v6fyvub2in5` (/s but only sort of).

[2016-02-04 15:15] bmcfee commented on #165
`time_frequency` uses `function` as the name of its synthesis generator.

The real solution here is to not use **, and keep the target kwargs as a dict.  But that breaks backward-compatibility.

Otherwise, I'd recommend something that connotes a private name, eg, `__function`.  But it's your call.

[2016-02-04 15:41] craffel commented on #165
Of course, what I meant was I am curious why you are using `filter_kwargs` on `time_frequency`.

I like your one-underscore solution.

[2016-02-04 15:46] bmcfee commented on #28
FWIW, this issue is starting to pop up in jams https://github.com/marl/jams/issues/93 wrt pretty-printing annotations.

It might be good to sync on this, just to figure out what reasonable requirements would be.

[2016-02-04 15:47] craffel commented on #28
I think this issue was mainly for plots, not pretty-printing annotations, but the two are roughly related.

[2016-02-04 15:50] bmcfee commented on #165
Oh! The upcoming jams.sonify module does dynamic dispatch to map annotation objects to mir_eval.sonify functions.  Since we don't (can't) know the sonification type up front, all sonify parameters live in a kwargs, which needs to be filtered because the sonify functions don't have a common signature.

For instance, I have this fragment for making a full-track sonification of all isophonics annotat

[2016-02-04 15:52] bmcfee commented on #28
"plots" meaning ... what?

[2016-02-04 16:24] justinsalamon opened #167 "Transcription metrics"
I think it'd be awesome for ```mir_eval``` to have metrics for evaluating automatic transcription (i.e. comparing two sets of symbolic notes). There's a relatively large number of people working on this problem in MIR, so I think such a module would very much come in handy.

Since I need this for some of my own work (ehm ehm), I'm happy to take a first stab at this.

As far as existing tools there

[2016-02-04 19:24] bmcfee opened #168 "Tests taking too long - travis timeouts"
Outstanding PRs are failing because travis is timing out on our tests after 30 minutes.

This might be a temporary issue with travis, though I'm not seeing it on my other repos.  More likely, something is taking way longer than it should in the test suite.  It's currently impossible to tell what the hold up is, since the tests don't run with verbose mode.

@craffel want to look into it?

[2016-02-04 19:57] craffel commented on #165
Oh, nice.

[2016-02-04 19:57] craffel commented on #28
You know, [plots](https://en.wikipedia.org/wiki/Plot_(graphics)).

[2016-02-04 19:58] craffel commented on #167
Please do!  I think the preferred way to prioritize different metrics is to choose those (if any) which are used in MIREX.

[2016-02-04 20:00] bmcfee commented on #28
Er, plots of what? Scores?  Annotations?

I'd argue that score-plotting is best handled by collecting results in a dataframe and using seaborn.  (Or other custom code; point is we'd likely be reinventing the wheel to do that in mir_eval).

Annotation-plotting is a different story though.

[2016-02-04 20:02] craffel commented on #168
Haha, no, not really, but I will.  I would guess it was the separation metrics, which take a very long time in slow/non-tuned settings.

[2016-02-04 20:02] craffel commented on #28
Annotatoins.

[2016-02-04 20:07] bmcfee commented on #28
Ok; that's why I ask. :)  Note that by "pretty-printing" what I actually mean is notebook-embed and svg rendering.  (There are several good reasons to want direct svg output for this, rather than going through matplotlib, but i digress.)

It'd be good if we could minimize overlap in functionality/implementation on this.

[2016-02-04 22:18] justinsalamon commented on #167
The metrics used in the aforementioned references are basically those used in MIREX :) Specifically, they're used in task 2 of the [multi-f0 tracking evaluation](http://www.music-ir.org/mirex/wiki/2015:Multiple_Fundamental_Frequency_Estimation_%26_Tracking#Evaluatio). It's basically recall, precision and f-measure given two sets of notes. Papers differ slightly on the thresholds used to when deter

[2016-02-04 23:11] craffel commented on #167
Sounds good.

[2016-02-07 20:29] #168 closed

[2016-02-07 20:40] #162 closed

[2016-02-07 21:34] #165 closed

[2016-02-08 22:09] justinsalamon commented on #167
paging @craffel : the MIREX convention for transcription lab files is a file with 3 tab-separated columns, where each row contains the onset, offset, and pitch (in Hz) of a single note. In terms of loading this kind of data into `mir_eval`, the closest function in `io` is ```load_labeled_intervals```, except that it parses the last column as a `str`, whereas I need it to be parsed as a `float`.

D

[2016-02-08 22:57] justinsalamon commented on #167
Also, do we have any preference for handling corner cases: if either the reference or estimate are empty, then the precision, recall, and f-measure (or a subset of these) will be undefined due to a division by zero. Should the metrics return None, raise an error, or a hardcoded 0 or 1 in such cases?

[2016-02-09 00:06] craffel commented on #167
Yes.  It should look very similar to `load_labeled_intervals`, except that it should call `load_delimited` with `[float, float, float]` as you suggested.  It should validate the resulting intervals, too, using `util.validate_intevals`.  I would call it something more generic than `load_notes` or `load_transcription`.  I like `load_valued_intervals`.

It depends on the definition of the metric itse

[2016-02-09 01:10] justinsalamon commented on #167
sounds good to me.

ok, so I'll follow that then.

[2016-02-09 18:29] justinsalamon opened #171 "index order in match_events output"
@bmcfee  I'm basing ```mir_eval.util.match_notes``` in on ```match_events```, and I think I have it down. One thing I noticed however is that calling ```matching = sorted(_bipartite_match(G).items())``` will return a list of tuples, where the value in each tuple is the index of the estimate node, and the second is the index of the reference node. Given that the order of the input parameters to the

[2016-02-09 18:35] bmcfee commented on #171
Yeah, that sounds reasonable.

1. Yes, since the edges are undirected, everything here is symmetric, so swapping ref and est here ought to be fine.
2. I don't think we use it anywhere else (it also gets called in segments, and conceivably anywhere else you have a matching problem), but always in terms of size.  I could imagine use-cases in which you'd want to preserve the matching structure -- eg,

[2016-02-09 18:40] justinsalamon commented on #171
ok cool. So I'll keep the flipped version in ```match_notes```, you wanna flip it in ```match_events```?
p.s - there's no unit test for ```match_events``` :ghost:

[2016-02-09 18:43] craffel commented on #171
There's a [unit test for _bipartite_match](https://github.com/craffel/mir_eval/blob/master/tests/test_util.py#L126), and the rest of `match_events` (which isn't much) gets hit pretty thoroughly by the rest of the tests.

[2016-02-09 18:56] justinsalamon commented on #171
Fair enough. Btw, I just noticed that the docstring in ``match_events`` describes ``matching`` as: ``matching[i] == (i, j)`` where ``ref[i]`` matches ``est[j]``, which will only be correct when the graph construction is flipped as discussed above.

[2016-02-09 20:15] bmcfee commented on #171
Hah, derp.  If you want to correct all of that in this PR, that would be okay by me.

[2016-02-09 20:16] justinsalamon commented on #171
roger that

[2016-02-09 22:26] justinsalamon commented on #167
Important note about the criterion for considering an offset match [for the record]:
While the MIRX [task page](http://www.music-ir.org/mirex/wiki/2015:Multiple_Fundamental_Frequency_Estimation_%26_Tracking#Evaluation) for multi-f0 tracking only specifies that the offset has to be within a window that's 20% of the reference note's duration centered on the reference offset, the MIREX [results page]

[2016-02-09 22:42] craffel commented on #167
Hmm... Assuming that ignoring the offset values is also commonly used elsewhere, beyond the standard in MIREX, I would personally prefer having a single set of metrics with an argument which allowed the user to specify whether to evaluate offsets or not (and, ideally, with a user-settable threshold) with the default being to ignore offsets.

[2016-02-09 23:22] justinsalamon commented on #167
Yes, ignoring offsets is also commonly used elsewhere. In fact, people normally compute both sets of metrics, as they provide greater insight into the working of an algorithm than either set on its own.

I could easily merge these into a single set with an optional parameter, however I'd argue that there's value to computing both sets: as noted above they tell you different things. It's also the c

[2016-02-09 23:36] bmcfee commented on #167
I think what @craffel is suggesting (and correct me if I'm wrong) is that you can have two sets of metrics, but they should both transparently wrap a single function that accepts the offset flag and window length as a parameter.  This seems like the sanest way to implement it to me.

[2016-02-09 23:47] justinsalamon commented on #167
That's exactly how it's implemented right now ;)

[2016-02-09 23:58] craffel commented on #167
Almost.  I am saying that it should follow the API of the other submodules (a good example is [segmentation](https://github.com/craffel/mir_eval/blob/master/mir_eval/segment.py#L1082)), where you have a single function which the evaluator calls with different parameters because both are used.  It's mostly an API issue.

[2016-02-10 00:02] justinsalamon commented on #167
I see, so if I understand correctly you want there to be only one function (in this case ```precision_recall_f1()```, but for the evaluator to call it twice, switching the value of a parameter to obtain both sets of metrics? I guess I can do that.

[2016-02-10 00:06] craffel commented on #167
Yes.

You can put two separate examples in the docstring.

[2016-02-10 00:07] justinsalamon commented on #167
ok, I'm on it

[2016-02-10 01:02] justinsalamon commented on #167
Alright, code has been consolidated and travis seems [happy](https://travis-ci.org/craffel/mir_eval/builds/108175644). @craffel or @bmcfee care to CR this and/or merge this PR?

Things I'm not happy about:
1. From the [MIREX description](http://www.music-ir.org/mirex/wiki/2015:Multiple_Fundamental_Frequency_Estimation_%26_Tracking_Results_-_MIREX_Dataset#Task_2:Note_Tracking_.28NT.29) it is not po

[2016-02-11 14:53] bmcfee opened #172 "sonify.chords, unique times strikes again"
There appears to be a bug in sonify.chords stemming from running unique on time events.  It's difficult to reproduce, since it boils down to numerical precision issues, but the resulting artifact is that some chords do not get sonified.

I've gisted a [notebook](https://gist.github.com/829701891958b7f9ae41) to illustrate the problem, but it depends on having the jams-sonify branch and beatles isop

[2016-02-11 15:16] craffel commented on #172
Yes, that looks wrong, and yes, unique would be my best guess...  Does rounding before calling unique fix this example for you?

[2016-02-11 15:24] bmcfee commented on #172
Yup, sticking a `times = np.around(times, 3)` fixes it.

I'm curious as to why all this is necessary though; why not just take the first column of intervals as label start times?

[2016-02-11 15:29] craffel commented on #172
By "all this" do you mean [this](https://github.com/craffel/mir_eval/blob/master/mir_eval/sonify.py#L211-L218)?  I believe it's because you coud have something like
[code]
which you needed to convert to
[code]
Though I think we can avoid this now that you can pass intervals to `sonify.time_frequency`.

[2016-02-11 15:38] bmcfee commented on #172
Yup. I'd forgotten that the implicit-end-time version existed. :)

I can open a PR that does this via intervals if that sounds good to you.

[2016-02-11 16:01] craffel commented on #167
Ok, just made some misc. comments.  Please address them in the PR.  To your questions:

I'd like to figure this out, if possible.  Is the evaluator code not online?  It's not [here](https://github.com/jpauwels/nemadiy/blob/ce3787191871d52196e97e6e9eb8d37caf12c911/analytics/trunk/src/main/java/org/imirsel/nema/analytics/evaluation/multif0/MultiF0EstEvaluator.java) or nearby?  If not, we should emai

[2016-02-11 16:02] craffel commented on #172
:+1:

[2016-02-11 16:52] #172 closed

[2016-02-11 17:31] bmcfee opened #174 "filter_kwargs drops parameters when the target has **kwargs"
For example, take
[code]
Feeding this into `filter_kwargs` does the following:

[code]
when I would instead expect
[code]

That is, I think `filter_kwargs` should retain parameters if the target already has a slop dict.  Is there a reason not to do this?

This came up again in sonify, where `chords` and `chroma` both have slop dicts that should accept `time_frequency` parameters.

[2016-02-11 17:39] craffel commented on #174
I don't see why not.  I guess the reason this isn't supported is that it is outside of the original intended scope of `filter_kwargs` (remove any keyword arguments that aren't explicitly defined in the provided function), because if a function has a kwarg slop dict you don't need to use `filter_kwargs` at all.  If you want to do this, do you know how to check programmatically whether a function ha

[2016-02-11 18:03] bmcfee commented on #174
Yup, but in my case, i'm applying this to functions that may or may not have kwargs, so it would be handy to detect it automatically.

`inspect.getargspec(myfunc).keywords is not None` does the trick, though it seems to be deprecated.  I'll check to see if there's a six wrapper for this.

[2016-02-11 18:31] bmcfee commented on #174
There isn't, so I just hacked up a `has_kwargs` function that uses six to determine which python we're on, and does the right thing accordingly.

[2016-02-11 18:50] #174 closed

[2016-02-11 20:05] justinsalamon commented on #167
Thanks! I'll go through the comments and make modifications as necessary.

That code seems to compute eval metrics for continuous multi-f0 estimation only, not for note tracking (which is what we need). I guess I'll try and track down the person who ran the task in 2015 and see if they can give me a hand.

Correct me if I'm wrong, but in order to compare to MIREX results we need both the GT files

[2016-02-11 20:10] craffel commented on #167
I figure it must exist somewhere, either on the nemadiy repository (not necessarily where I linked!  There's a lot of code there), or on someone's server somewhere.  If you can't find it on the nemadiy repository, hopefully said someone will respond to your email.

Yes.  We have both for many of the metrics (all pattern discovery, actually).  Ideally, we'd have both for this task too. If the groun

[2016-02-11 20:21] justinsalamon commented on #167
Where?

[2016-02-11 20:26] craffel commented on #167
Oops, nevermind, I was mistaking the results file downloads for algorithm output downloads, sorry!

[2016-02-11 20:37] justinsalamon commented on #167
Ah ok. In which case I guess I have to see if the MIREX folk would be willing to hand over at least 1 GT file and a corresponding algorithm output. Given the scarcity of multi-f0 datasets, I don't have high hopes though...

[2016-02-11 20:39] craffel commented on #167
Are there literally no multi-f0 datasets for which ground truth is publicly available?  The requirement is not that we obtain exact MIREX output from some previous iteration, just that we have (preferably 10 instances of) an algorithm output, a ground-truth annotation, and the resulting scores produced by the MIREX code.  If you have algorithm output and ground-truth annotations, you just need to

[2016-02-11 21:21] justinsalamon commented on #167
After some snooping around and a very handy pointer from @rabitt I got to [this dataset](https://sites.google.com/site/lisupage/research/new-methodology-of-building-polyphonic-datasets-for-amt). Not only is it publicly available, it was also used for MIREX 2015. Win.

[2016-02-12 18:50] justinsalamon commented on #167
oops!

[2016-02-13 20:58] justinsalamon commented on #167
Good news, I've heard back from Li Su, who created the aforementioned dataset and was also mirex task captain for multi-f0 (and note tracking) in 2015. He replied:

1) '<' or '<=': I just checked the old source codes taken for MIREX evaluation and found that we use '<' rather than '<=' for all cases including onset, offset and pitch distance. In MIREX 2015 we kept using this code so it is '<'.

Wh

[2016-02-13 21:01] craffel commented on #167
Can he just send you said "old source codes"?

[2016-02-13 21:08] justinsalamon commented on #167
I can ask

[2016-02-15 17:54] justinsalamon commented on #167
The plot thickens... apparently there are 2 sets of eval code:
* The ["old" code, which I've placed in this gist](https://gist.github.com/justinsalamon/6bb4678db587c23a41df) for reference, which uses "<" for all threshold checks.
* The "new" code by Zhiyao Duan, which can be [downloaded here](http://www.ece.rochester.edu/~zduan/code/mpa_eval.zip). The relevant file is [``ErrorRate_MF0_NoteLevel.m`

[2016-02-15 17:56] craffel commented on #167
As long as you document your choice, and all of this, in the docstrings, we are covered.

[2016-02-15 18:06] bmcfee commented on #167
Not that I'm advocating this necessarily, but it wouldn't be too hard to do if you use the numpy ufuncs `lt` and `le` instead of the symbols.  Then you can just do something like
[code]
or somesuch.

[2016-02-15 18:09] justinsalamon commented on #167
Yeah ok. I'll wait to hear back from Li Su then. I'm on the fence as to which to use... if my understanding of the situation is correct, then on the one hand "<" was used every year for the "mirex" dataset (the Su dataset and the use of "<=" were only introduced in 2015), and would also be consistent with the melody eval code that requires "<" for pitch matching. On the other hand, the beat and on

[2016-02-15 18:10] craffel commented on #167
How big of a difference will this make in practice?  Aren't these pitch/time values we are comparing continuously-valued?  Backwards compatibility is important, but don't go too far down the rabbit hole.  Documenting and justifying your choices is fine.

[2016-02-15 18:12] justinsalamon commented on #167
yeah the values are continuous, ultimately this won't make a huge difference. I'll just choose one once I hear back from Li Su for confirmation, and support the other via an optional argument.

[2016-02-15 18:17] craffel commented on #167
Again I don't think you need to worry about supporting both as long as you are thorough about documenting which you are using and why.

[2016-02-15 18:39] bmcfee opened #177 "hierarchy.evaluate(), forward-compatibility"
Dragging back up some discussion from #125...

The current `evaluate` function calls only one metric (tmeasures), which in turn only takes boundaries and not labels.  Consequently, `evaluate` only exposes positional arguments for boundaries.

I can imagine the not-too-distant future`*` in which we may have metrics for label hierarchies, which will require a change to the `evaluate` API.  The resul

[2016-02-15 18:44] craffel commented on #177
I'm fine with changing the API now.

[2016-02-15 21:19] #177 closed

[2016-02-16 01:40] justinsalamon commented on #167
I like @bmcfee's idea of giving the user a choice via a ``strict`` parameter. I've added this in 6978d0d. The default behavior is ``strict=False`` (i.e. ``<=``), which should match the MIREX 2015 eval for the Su dataset. It's all documented in the transcription.py docstring.

[2016-02-16 07:17] urinieto commented on #177
I vote option 1 too.

On Mon, Feb 15, 2016 at 1:19 PM, Colin Raffel <notifications@github.com>
wrote:

[2016-02-22 18:44] justinsalamon commented on #167
#170 has been merged, closing.

[2016-02-22 18:45] justinsalamon commented on #167
#170 has been merged, closing.

[2016-02-22 18:45] #167 closed

[2016-02-22 19:59] justinsalamon commented on #171
Fixed by #170

[2016-02-22 19:59] #171 closed

[2016-02-22 20:09] justinsalamon opened #180 "Implement more transcription metrics"
In addition to precision, recall, and f-measure, MIREX also computes the Average Overlap Ratio (defined in [this paper](http://ismir2009.ismir.net/proceedings/PS2-21.pdf)). Furthermore, it also computes all four metrics (p, r, f1, o) but with mapping the pitch values to chroma values (i.e. so that octave errors aren't penalized).

This means that MIREX computes 16 metrics in total:
(Precision, Rec

[2016-02-22 23:14] craffel commented on #180
:+1: Seems pretty straightforward to implement both, right?

[2016-02-22 23:21] justinsalamon commented on #180
Yup, I just have no cycles left for it right now. Maybe @rabitt would fancy taking a stab at this? ;) Otherwise I'm happy to revisit this some time in the future.

[2016-02-27 22:31] craffel opened #183 "Create loader for tempo data"
There's currently no loader for tempo annotations in the MIREX format.  You can load them in with `io.load_delimited`, but it's cumbersome:

[code]

It should be very simple to create this and will look a lot like `io.key`.

[2016-02-28 11:37] bmcfee opened #184 "Changelog"
There doesn't seem to be a changelog/release notes in the documentation.

We should definitely add this.

[2016-03-04 19:34] rabitt opened #185 "Implement multi-f0 frame level eval metrics"
As far as I can tell, MIREX computes 14 metrics. Each of the following 7 metrics are computed first for the original values, and second for octave-wrapped values:
- Accuracy
- Precision
- Recall
- Total Error (E_tot)
- Substitution Error (E_sub)
- Miss Error (E_miss)
- False Alarm Error (E_fa)

Metrics described in part [here, page 5](http://academiccommons.columbia.edu/download/fedora_content/dow

[2016-03-04 19:37] rabitt commented on #180
@justinsalamon Sorry, no cycles for this right now :(

[2016-03-04 19:54] craffel commented on #185
Great!

We should document this somewhere when there are more requests like this, but the idea PR has
- metrics implemented in mir_eval/metric_name.py, plus `validate` method which makes sure annotations are in a sane format and `evaluate` method which calls all metrics and returns an ordered dict of the results (see other metrics for examples)
- loader in `io` which loads in MIREX-format data
- e

[2016-03-04 20:00] rabitt commented on #185
@craffel great! Seems straightforward enough ;)

[2016-03-09 16:46] justinsalamon commented on #180
Other than the missing MIREX metrics, there are 3 more sets of metrics I'm interested in - these are still p,r,f, but using *only* onset information, or only offset information, or only pitch information. This basically allows you to break down the results and gain further insight (e.g. some algorithms might be great at onset detection but terrible at pitch detection, etc.).

These metrics are not

[2016-03-09 16:53] craffel commented on #180
Potentially, yes, but from a holistic view I'd say they are much lower priority than the rest of the MIREX metrics.  If you want them though and are up for implementing them, feel free to make a PR.

Yeah, I can't think of a way to do this which makes sense.  The overlap ratio seems like a more sane metric for this, if you don't want to be separately paying attention to whether the onset or offset

[2016-03-09 17:00] justinsalamon commented on #180
That's actually a very good point - the overlap ratio with a very lean onset threshold would basically do exactly what I need for pitch.

OK, in which case my idea would be to implement ``match_note_onsets``, ``match_note_offsets``, and ``overlap_ratio``. Or do you think it's better to implement the former two using optional arguments to the already existing ``match_notes`` method? It would probab

[2016-03-09 17:04] craffel commented on #180
You mean like `onsets_only` or `offset_only`?  I think that could get a little hairy/confusing; I'd prefer if the relevant functionality was factored out (I think it already is?) and then just have separate metrics.  Of course, you can also do whichever you think makes more sense and we can hash it out in the PR.

[2016-03-09 17:08] justinsalamon commented on #180
I'm fine with implementing these as separate metrics, you're right in that it would keep things clearly delineated. I'll get onto the PR when I have a moment to breathe.

[2016-03-15 02:25] rabitt commented on #185
@craffel: I ran into a small hitch and want to run it by you.
As far as I've seen, multi-f0 algorithms report scores as a time stamp followed by a variable number of f0 values:
[code]
```mir_eval/melody.py``` is [resampling](https://github.com/craffel/mir_eval/blob/master/mir_eval/melody.py#L190) the estimate time series to ensure the time stamps are consistent with the reference time series. MIRE

[2016-03-15 12:49] craffel commented on #185
Ooh, that is alarming.

Hmm.  The nearest neighbor idea is good, but I could see it getting ugly and potentially doing the wrong thing, depending on what exactly the metrics are doing (I'm not familiar).  Can we just require that reference and estimated annotations have the same timebase like MIREX, thereby also sidestepping this issue?

[2016-03-15 14:53] bmcfee commented on #185
Is there anything in the task definition that defines what a "contour" is in this representation?  Would it make sense to match f0 values at one row to those in the previous row if they are within some maximum cent deviation?  Then you could line up all values in one contour to a single column (padded out with nans) and resample as normal.

[2016-03-15 15:28] rabitt commented on #185
@craffel

That's definitely an option, but as a matter of taste I personally don't like the constraint of having to have the same time steps ;). The metrics are all computed per time step and averaged across the song, and nothing. Any problems introduced by resampling would in theory be the same as those introduced when resampling the melody time series.

@bmcfee

Nope, that's me adding terminolog

[2016-03-15 16:00] justinsalamon commented on #185
Just adding my 2c into the mix:
I also don't like the idea of enforcing an input timebase, apart from the fact that it's limited, in practice it just means people will do the resampling themselves in whichever way they find most convenient, and is likely to result in inconsistent evaluation results.

What if you state that to get results that are 100% MIREX compatible the input timebase must be fi

[2016-03-16 01:11] craffel commented on #185
Well, not exactly, since this problem we're discussing isn't present in melody annotations.

So looping back on this because I think I misunderstood - all eval is done on a temporal-independent way, right?  In that case, yes, I would suggest nearest-neighbor interpolation is the only sane solution here.  I think it would be smart, in this case, to throw a warning when resampling is done.

By the w

[2016-03-18 03:12] craffel opened #187 "Load delimited skips the first line?"
Here: https://github.com/craffel/mir_eval/blob/master/mir_eval/io.py#L73

Does anyone know why it does this? I assume it is because some annotation files have a header, but I would not assume all annotation files do; this should be a function argument, I think.  Looks like it showed up [here](https://github.com/craffel/mir_eval/commit/08db16f586ec7d813e53fe38451e2557de94931c), maybe.  @bmcfee can

[2016-04-07 17:37] ejhumphrey opened #188 "Downbeats -- representation and evaluation"
Firstly, this issue straddles `mir_eval` and `jams`, (+ @craffel @bmcfee ), but I think it fits better here.

Downbeat estimation --marking beats that begin bars / measures-- can be seen as a form of beat tracking. In the wild, there are a few ways in which downbeats have been encoded in plaintext formats: (a) single column of timestamps, in seconds; (b) double columns of timestamps and beat numbe

[2016-04-07 17:59] craffel commented on #188
I don't have a lot of bandwidth to discuss this now, but I can chime in with what I see as `mir_eval`'s philosophical approach.  For the metrics we implement, we assume there is a standardized format for the annotations (usually MIREX format), and add a loader for that to `io`.  Depending on which of the formats you list we decide is standard, adding an appropriate loader is probably simple thanks

[2016-04-07 18:14] ejhumphrey commented on #188
Thanks, after looking at `io`, it seems like either a method there (or maybe even in `util`) is the way to go. The trick is really taking loaded beat data and preserving downbeats.

Curious to hear what others might have to say, but if I have any eureka moments I'll branch and PR. My primary goal in this is to develop a single, reusable solution that has (reasonably) broad buy-in for legitimacy, r

[2016-04-15 04:33] craffel opened #190 "Fix `sonify.time_frequency` docstring"
https://github.com/craffel/mir_eval/blob/master/mir_eval/sonify.py#L67 should read "from ``times[m]`` to ``times[m + 1]``"
https://github.com/craffel/mir_eval/blob/master/mir_eval/sonify.py#L71 should read "shape=``(gram.shape[1],)`` or ``(gram.shape[1], 2)``"

(I think)

Not sure how I missed these in multiple docstring audits.

[2016-04-30 21:59] rabitt opened #191 "use context managers for open file handles"
In ```io.py``` ```load_delimited``` and ```load_ragged_delimited```:

[This line](https://github.com/craffel/mir_eval/blob/master/mir_eval/io.py#L59) could leak file descriptors if there's an error anywhere below (before the call to close). Replace with ```with my_open(buf_or_str, 'r') as fdisc: ....```

[2016-05-03 16:26] rabitt commented on #185
This is merged - closing this issue.

[2016-05-03 16:26] #185 closed

[2016-05-07 10:58] carlthome commented on #28
Dead feature?

[2016-05-07 13:29] bmcfee commented on #28
Not dead, but (IMO) it's more natural to fit this into [JAMS](https://github.com/marl/jams/pull/110) than mir_eval.

[2016-05-07 13:48] carlthome commented on #28
Yeah, thanks! :smiley:  https://github.com/marl/jams/issues/113

[2016-05-16 12:06] carlthome opened #192 "Could bss_eval return min and max as well?"
First of all, love this package! :dancer:

**Curious if `bss_eval` could return the minimum and maximum SDR, SIR, SAR as well as the average?** I realize its based on Emmanuel Vincent's method but variance seems important in many cases. Lets say average SIR over a song is 10 dB. Roughly speaking, it could be the case that the chorus with lots of harmonic and percussive elements is easy to separate

[2016-05-17 17:00] craffel commented on #192
Hey, thanks for the kind words.  Usually we focus on implementing evaluation metrics as widely used/specifically defined in research, so extensions like this are a little out of the scope of `mir_eval` unless they are starting to be utilized in publications or MIREX (or DCASE as the case may be).  Do you know of people reporting min/max too?  Otherwise, another goal of `mir_eval` is to make it ver

[2016-05-18 09:47] carlthome commented on #192
Well, most recent papers seem to introduce their own additional evaluation aside from SDR, SIR, SAR, and many rely on listening tests still, but there's also this more recent framework (2011), [PEASS](http://bass-db.gforge.inria.fr/peass/), with objective and subjective metrics that promises to be more inline with perceptual quality, by the same people that proposed bss_eval originally back in 200

[2016-05-18 19:56] craffel commented on #192
Yes, in fact we have a TODO issue about adding PEASS (and other metrics) #68!  A PR would be welcome.

For now, unless we have some examples of papers/contests which are using minimum (or maximum, or variance), I'd prefer to do the community standard.  It should be pretty straightforward to create a custom version of the function for your own purposes, which is one of the intentions of `mir_eval`.

[2016-05-18 21:29] carlthome commented on #68
PEASS would be a welcome addition, I think.

[2016-05-18 21:35] carlthome commented on #192
Cool! :+1:

Sensible! Let me try to nag research teams, MIREX and SiSEC about it and I'll get back to this hopefully. It seems like bad practice to not estimate worst-case over a common test set, and it makes the different methods hard to compare for real-world usage.

[2016-05-18 21:42] carlthome commented on #192
I'm curious though, the [paper sparking BSS_EVAL](https://hal.inria.fr/inria-00544230/PDF/vincent_TASLP06bis.pdf) mentions "local performance measures" for calculating SDR, SIR, SAR when the performance is expected to vary over time. Essentially its a windowing function and sliding it, just like for STFT vs. FFT. This doesn't seem to be provided in the actual implementation though. Correct?

[2016-05-19 14:57] craffel commented on #192
Yes, I don't know of this being implemented/used, although it's useful.  @dawenl do you know?

[2016-05-19 15:43] faroit commented on #192
Maybe it's time to jump in here, I will be helping out @aliutkus organising the upcoming [SISEC evaluation](https://sisec.inria.fr/home/2016-professionally-produced-music-recordings/) and we will be releasing a modified version of the matlab bss_eval code as well together with a python wrapper. Both will be on github in couple of days.

@carlthome As far as I understand your comment: yes, the upco

[2016-05-19 15:44] craffel commented on #192
That would be great, thanks!

[2016-05-19 15:59] carlthome commented on #192
@faroit Cool. :smile: Looking forward to the Python wrapper.

Do you have any thoughts on why SDR, SIR, SAR variance of the local measures is seldom listed in papers (such as Huang, Erdogan, Weninger, the Wangs, etc.), by the way? Seems most go for a poinst-estimate of the average "global" SDR, SIR, SAR over all estimated sources in a test set.

[2016-05-19 16:34] dawenl commented on #192
It's been a while since the last time I touched upon anything related to source separation, but it seems that everything is solved (or hopefully will be resolved soon)?

[2016-05-19 16:40] aliutkus commented on #192
thanks so much @faroit for handling all this python evaluation voodoo magic ! the upcoming dsd100 package he's been preparing for a while makes it very practical to test separation stuff in python indeed !

concerning everything being solved, we're not quite exactly there yet, but yeah, the community has been very active and it's a pleasure to see things working quite well now =D

[2016-05-23 15:41] stefan-balke opened #193 "Evaluation Measures for Retrieval Systems"
Hey,

just noticed that there are no measures for retrieval systems yet.
I'm doing things like mean rank, top10 matches etc. over and over
again. Am I the only one or might this be helpful for more people out there?

What do you think? Is it worth the effort?

[2016-05-23 15:58] justinsalamon commented on #193
Mean reciprocal rank (MRR) and top-X hit rate are definitely commonplace (I've used them [myself](http://www.justinsalamon.com/uploads/4/3/9/4/4394963/salamon-mmir12.pdf) quite a bit too). Probably a few more common ones out there such as Mean Average Precision (MAP) and all the standard IR metrics.

While these metrics are not specific to MIR, I do think it would be useful to have them in `mir_ev

[2016-05-23 16:32] craffel commented on #193
I think the last time this came up @bmcfee argued that all of these scores were already implemented in `scikit-learn`.  Maybe we can come up with a list of the metrics which are commonly used in MIR and then see if any are not already implemented in standard libraries?

[2016-05-25 21:14] bmcfee opened #194 "continuous pitch sonification"
As per [this discussion](https://github.com/marl/jams/pull/91), we could pull in the code from @justinsalamon 's [melosynth](https://github.com/justinsalamon/melosynth) package.

[2016-05-26 15:32] bmcfee commented on #194
tagging @justinsalamon @craffel

I hacked out a quick [gist](https://gist.github.com/935c7c7e61824cfe2c5708eeed10dc83) for pitch contour sonification, based on how I understand the code in melosynth.  This version is much simpler (and, I suspect, much faster) since it uses a scipy interpolator to do the instantaneous frequency estimation.  It also works like the other sonifiers, allowing the user

[2016-05-26 16:24] craffel commented on #194
Can you post `train05REF.jams` somewhere so that I can try it out?  The `np.cumsum` is throwing me, what is that doing?  It seems like it would only do the right thing when `f_est` was constant.

[2016-05-26 16:33] justinsalamon commented on #194
https://github.com/marl/jams-data/blob/master/datasets/MIREX05/train05REF.jams

[2016-05-26 16:35] justinsalamon commented on #194
Sounds fine to me

[2016-05-26 16:52] bmcfee commented on #194
The analogous part is [here](https://github.com/justinsalamon/melosynth/blob/master/melosynth.py#L330-L331) -- phase propagation between samples.  I just didn't bother computing the phase separately, since it's not needed.

I played the output of this side-by-side with melosynth, and they agree to the extent that's necessary; tapering behavior is a little different, but the pitch and timing are es

[2016-05-26 17:02] craffel commented on #194
Ok, I am seeing it now.

I would have thought the clicking would have been worse the way you're doing it, but I'm not hearing it even at higher sampling rate, so I am ok with doing it your way.  Anyways, LGTM, feel free to PR, thanks.

[2016-05-26 17:09] bmcfee commented on #194
The trick here is clipping the unvoiced frequency measurements to 0, and then interpolating; this ensures at least a ramp (for linear) or smoother transition (quadratic, cubic) whenever entering or leaving voiced regions.  It's a little sharper than @justinsalamon's version since I don't explicitly force a minimum width of the ramp, so you do see some spread in the spectrogram at the low frequenci

[2016-05-26 17:10] craffel commented on #194
Right, my worry was that because you are ramping smoothly in frequency rather than amplitude you might get some weird effects, but it seems ok.

[2016-05-26 18:52] bmcfee commented on #28
Reversing my prior comments on this after discussing in the jams threads: mir_eval should have some basic viz/plotting, and JAMS can decorate these with metadata/subplots/etc.

Let's make a wish-list of how this should work?

- events (onsets, beats, etc): vertical lines or dotted points?  i can see a good case for either.
- disjoint intervals: i like how [msaf](https://github.com/urinieto/msaf) d

[2016-05-26 19:02] craffel commented on #28
Thanks for starting this discussion.

Probably allow for either.

All sounds reasonable to me.

Sometimes a common plot is to do a time-frequency plot with different sources being different colors.  It would definitely be cool to have an automated method to create plots like Figure 2d here http://hearingbrain.org/docs/mesgarani_chang_nature_2012.pdf

Not worth it, I don't think.  Same for key.

So

[2016-05-26 19:21] justinsalamon commented on #28
Again, same as sonification this needs to be separated into notes and continuous f0 (pitch contour). For the note case I'd go with overlapping piano rolls as in [this gist](https://gist.github.com/justinsalamon/3672e968a2cbee36853b0d4a4374d707) I cooked up a while back for a potential JAMS viz module.

For pitch contour continuous curves on a log-frequency scale (I think a cent scale would be most

[2016-05-26 19:22] bmcfee commented on #28
I'd rather stick to one or the other, since they're pretty different from an api perspective.

Oooooh, those are slick!  Really difficult to automate well, but I have some thoughts on how to do it.  The trick will be getting it to work with more than two sources and not look like clown barf.

Jotting implementation thoughts for how this can work:

1. Compute magnitude spectrograms for all sources.

[2016-05-26 19:27] bmcfee commented on #28
Good point, I'd forgotten about piano-roll.  I like your version of it; the comparison can be done easily by plotting the reference first, then the estimate on the same axes, and giving both alpha values.

Yup.  The styling, I'd imagine, should be set by pass-through kwargs, but we should try to cook up some good defaults.

That, I think, is a separate issue.  In JAMS, I'd be happy to just stack u

[2016-05-26 20:01] craffel commented on #28
The main difference in API is that for vlines you have to specify the top and bottom, right?  I would be fine with using the supplied axis' ylim, as long as that behavior was specified, and defaulting to dots.  Or, yeah, we can do one or the other.

This is roughly what I was thinking too.

Yes.

and

This makes sense for JAMS and not `mir_eval`, I think.  For example, `sonify` doesn't provide mec

[2016-05-26 20:24] justinsalamon commented on #28
sgtm. once the viz is coded up (sonification is mostly there I guess) I think it'd be really nice for the community if we created a notebook illustrating these functionalities using both mir_eval and JAMS. Maybe even an LBD.

[2016-05-26 20:34] bmcfee commented on #28
[Source separation viz demo](https://gist.github.com/5ab693745157de0989f8b35ce572106e) .. not too hard to get about 85% of the way there.

I'm into this idea.  Because we don't have enough things on our plate as is.

[2016-05-26 20:40] justinsalamon commented on #28
![more](http://s2.quickmeme.com/img/0d/0dc5e9ebd13f6720270f2975381dcfa2fad3326fa0bc7ee4f550f0129e02a3a0.jpg)

[2016-05-26 20:47] craffel commented on #28
Nice.

[2016-05-27 03:08] #194 closed

[2016-05-27 07:48] carlthome commented on #28
This is wonderful. It's like watching my source separation thesis being written for me so I have time catching up on Game of Thrones. :heart:

[2016-05-27 07:57] carlthome commented on #28
For avoiding clown barf when there are multiple sources, one visualization could be to plot estimated waveforms on top of the references, and then having individual spectrograms instead. Might turn into a lot of subplots though. Example:
![image](https://cloud.githubusercontent.com/assets/1595907/15601637/d266a1e2-23f0-11e6-8db1-a7bf9ee5ed94.png)

Another way might be to take the original mix spec

[2016-05-27 12:06] bmcfee commented on #28
[Interval plotting notebook](https://gist.github.com/188c27935790e4c5add4c2da425437a7) is coming along.  Comments about missing functionality and/or API conventions would be welcome at this point.

[2016-05-27 12:15] bmcfee commented on #28
Yeah... If I can abstract a bit from @craffel 's previous comments, I think the plots you're describing can be easily done with existing primitives (except maybe for waveplot, which can be pulled from librosa if needed).

IMO mir_eval's display module should only implement routines that draw on a single axes and are otherwise difficult to do (eg, interval plots).  Anything requiring subplots shoul

[2016-05-27 12:58] justinsalamon commented on #28
In principle one can use the non-overlapping viz for chords too, right? In the case of chords the overlapping viz is awesome for getting a birds-eye view of all chords in the track, but if you want to actually listen to the song and follow the chord annotation this viz is a little hard to follow because of the large vertical jumps, so the non-overlapping visualization would be more helpful in that

[2016-05-27 13:09] bmcfee commented on #28
Yup, and you can use overlapping for segments, which is perhaps better depending on what you're trying to communicate.  For example, if you have small segments `A->B->C`, this is hard to see as a larger pattern in the disjoint plot, but the shapes pop visually in the overlapping plot.  The disjoint plot is better for overlaying on a spectrogram though, so YMMV.

That's one issue. Another issue is

[2016-05-27 14:33] bmcfee commented on #28
[Notebook updated](https://gist.github.com/bmcfee/188c27935790e4c5add4c2da425437a7) to support optional text labels in disjoint intervals, and pre-set reference labels for overlapping intervals (not demoed in the notebook currently, but functional).

Short-term to-dos:

- [ ] fix the property cycler to work with arbitrarily many inputs
- [ ] figure out a clean way to override the cycler to support

[2016-05-27 15:12] bmcfee commented on #28
[Notebook updated](https://gist.github.com/bmcfee/188c27935790e4c5add4c2da425437a7) for overlapping interval comparisons with inequal label sets.  Property cycling is still a little broken here, but it's good to know that the basic idea works.

[2016-05-27 15:53] craffel commented on #28
Agreed here.

It seems to me like a logical and sane way to handle this for chords (where we can have huge, but structured, vocabularies) would be to have color mapped to chord root and vertical position mapped to chord type. The same twelve colors would always correspond to the twelve roots, and for example in a min/maj vocabulary, we'd have two vertical positions.  The number of possible chord t

[2016-05-27 16:11] bmcfee commented on #28
I think a simpler version of this is to just reduce the color property to depend only on the root (+ no-chord) and leave the rest of the logic (lexicographic sorting) as is.  I've already dropped the hatching cycler from the overlap-interval plot, since vertical position is enough to disambiguate and even color is just eye-candy.

Some potential snags I see here:

1. how do we know when the labels

[2016-05-27 16:25] craffel commented on #28
Yes.  Chords are different enough from segments (mainly because of potential vocab size) that I think this is reasonable; they can use the same core routine but chord can have additional logic for e.g. coloring things by root.

I think grouping (assuming by "grouping" you mean putting things in the same vertical row) by root is totally sane and probably expected behavior.  Lexical sorting *after g

[2016-05-27 17:06] bmcfee commented on #28
Okay.  In that case, let me finish up a solid prototype of the current general-purpose plotter and then we can figure out how to build a chord plotter on top of it.  FWIW, I'm thinking much more generally than "segments" here, and designing more for things like time-varying labels, which can also have a large and open vocab.

If by "row" you mean "block of rows", then yes.  I don't expect/wouldn't

[2016-05-27 18:04] justinsalamon commented on #28
- [ ] fix text positioning in disjoint interval labeler

My vote would be to place the label text in the middle of the rectangle (both vertically and horizontally) - I think it'd be the easiest to see this way. This might be overkill but an optional parameter for setting the label size might also be appreciated.

[2016-05-27 18:07] bmcfee commented on #28
You can pass through arguments (eg font size) to the annotation object through `text_kw`.

I'm not a fan of centering the annotation inside the patch for two reasons:

1. if you're overlaying the rects on a spectrogram, it's more likely to interfere with the data if it's (vertically) centered)
2. if you're comparing two segmentations by vertical stacking, horizontal centering will look awkward.  I

[2016-05-27 18:11] justinsalamon commented on #28
Then I'd go with NW

[2016-05-27 18:19] craffel commented on #28
Don't you think there are at least 12 easily distinguishable colors?  For example, Colorbrewer goes up to 12 for qualitative colormaps: http://colorbrewer2.org

I think this is the important question and is where we see things different (resulting in different visualization requirements), really.  Can you do some quick JAMS wizardry to get the statistics of the number of chord labels per song acro

[2016-05-27 18:44] justinsalamon commented on #28
I'll just add to the mix that I don't think it's reasonable for a user to memorize a mapping between 12 colors to 12 chords (even if the colors are easily distinguishable), even with a legend at hand.

This is a bit of a side note, but I think it'd be cool to try and target these visualizations not just at MIR experts (or generally people who are good at parsing graphs). Looking into the future, I

[2016-05-27 19:09] craffel commented on #28
Sure, but the explicit values are much less important than just being able to compare them.  The most important operation when looking at the graph will be "Are these two chords the same?" both when comparing two (ref/est) graphs and when looking at a single one.  I mean, you could say the exact same thing about vertical positioning of different chords - of course we don't expect people to memoriz

[2016-05-27 19:14] justinsalamon commented on #28
Yes, as long as labels are supported it should be ok. I actually disagree about the values being much less important - for a meaningful error analysis you really want to see how labels get misclassified. But perhaps I'm going off topic :)

[2016-05-27 19:19] bmcfee commented on #28
That's not going to translate to print/colorblind-friendly modes very easily.

Who needs jams when we've got shell scripts?  Here's the histogram on beatles:

![image](https://cloud.githubusercontent.com/assets/1190540/15618746/caca5fc8-241d-11e6-91ee-7977a171b308.png)

The max is 30 (Straweberry fields forever) and is only that high because of inversions.  I'm too lazy to script something that sq

[2016-05-27 19:20] bmcfee commented on #28
One more comment that maybe got lost in the mix:

Using color to indicate identity basically means that we can't plot two annotations on top of each other, and I'd really hate to lose that ability.

[2016-05-27 19:27] craffel commented on #28
Yes, of course.

In that case it seems probably ok to do vertical spacing.  Though 30 is a lot of y labels.  Even 15 is going to mean a very tall figure though when you want the labels to be legible.  We could maybe do some kind of hierarchical labeling like I do in [Figure 1(h)](http://colinraffel.com/publications/ismir2016extracting.pdf) but that would be hard to do cleanly.

For sure, I think y

[2016-05-27 19:27] bmcfee commented on #28
Why?  ("sonic-visualizer does it" is not an acceptable answer)

[2016-05-27 19:29] justinsalamon commented on #28
Because that's closest to how [musicians annotate chords in charts](http://www.simon-harris-projects.com/advancedguitarplayer/images/stories/SheetMusic/autumn-leaves-real-book-lead-sheet-em.gif) and I find it more intuitive than the other 3 corners.

[2016-05-27 19:30] bmcfee commented on #28
I don't see how that would work?  Quick: tell me which chords came from which annotation here:
![image](https://cloud.githubusercontent.com/assets/1190540/15619078/ddbc3672-241f-11e6-82bf-bb2401f23926.png)

vs here:
![image](https://cloud.githubusercontent.com/assets/1190540/15619084/e290b358-241f-11e6-8c70-21f07086eeb4.png)

[2016-05-27 19:37] craffel commented on #28
Ah, yeah, I was thinking just being able to tell whether the two annotators agreed, not which annotator a chord came from.  I can understand if that's something that should be preserved.

[2016-05-27 20:41] bmcfee commented on #28
Seems to me like this conversation went way off the rails here.. funny how chords always seems to do that.

More importantly: from an API perspective, is there anything that seems strange?  Anything that should be exposed/controllable?  (Embedded annotations are an obvious one, anything else?)

[2016-05-28 01:31] craffel commented on #28
The API seems reasonable to me.  I think the functions could be named a little more clearly, i.e. overlap_intervals is useful even for disjoint intervals when they are dense (chords).  I might expect people to want to supply custom kwargs to `Rectangle` but we don't want to overdo it on the kwarg customization.  For `reference_labels`, my initial intuition was that people would find the union of t

[2016-05-28 13:30] bmcfee commented on #28
Agreed.  Any suggestions?

You already can; `kwargs` gets added to the cycler properties.  This is how setting things like fixed color and alpha channel works.

Yeah, I'm not sure what a better name would be though.  `labels` is reserved for the actual labels being plotted (for consistency with all other `(intervals, labels)` functions).  Maybe `label_set`?

[2016-05-28 15:09] craffel commented on #28
Not really... maybe `flat_intervals` and `vertical_intervals`?

Ah, I see that.

`y_labels`?

[2016-05-28 22:27] bmcfee commented on #28
How about `segments` and `labeled_intervals`?

Unrelatedly: I think it actually makes sense to drop property cycling entirely from the labeled-interval display.  I think most of the time, what you'd actually want is annotation-level coloring, since height differentiates label.  If you have a fixed style for the entire annotation, then overlying two annotations becomes trivial, and intuitively work

[2016-05-28 22:36] craffel commented on #28
Moving discussion to #196.

[2016-06-01 15:28] craffel commented on #180
@justinsalamon if this was resolved with the closing of #180, can you close?  Thanks.

[2016-06-01 16:22] justinsalamon commented on #180
Well, the chroma metrics are still not implemented, so if we want 100% coverage of the MIREX metrics I guess we should keep this open.

[2016-06-01 17:25] craffel opened #197 "Chroma transcription metrics"
To cover all evaluation done in MIREX, we also need to add the ability to evaluate transcription annotations after mapping the pitch values to a chroma (single octave) scale, as discussed in #180.

[2016-06-01 17:25] craffel commented on #180
Ok, migrated to a separate issue #197.

[2016-06-01 17:25] #180 closed

[2016-06-02 15:36] faroit commented on #68
Back to the state of bss_eval, I want trigger some discussion about what we could contribute to mir_eval and what would be the possible use cases, which is mainly the [SISEC Evaluation](https://sisec.inria.fr/home/2016-professionally-produced-music-recordings/) organised by @aliutkus this year.

#### Current implementation

* is a direct implementation of [bss_eval_sources v 3.0](http://bass-db.gf

[2016-06-02 15:39] faroit commented on #192
@craffel @carlthome see https://github.com/faroit/dsd100mat. This is what will be used for the upcoming SISEC.

[2016-06-03 10:01] carlthome commented on #68
Yes, please! :+1:

**This would be awesome.** It's really dreadfully slow at the moment.

[2016-06-03 16:44] dawenl commented on #68
I remember back then there was a discussion of whether using the slower `scipy.signal.fftconvolve` or faster customized implementation. But numba seems a little too much (in terms of dependency/compatibility), maybe cython is a good middle ground?

[2016-06-04 03:47] craffel commented on #68
Thanks for this discussion!

Great!  A PR is welcome.

That sounds fine to me.

Usually we do Matlab (or other pre-exising implementation) comparison in the PR, and don't include it directly in the repository. All of the json data is actually for regression testing.

I'm not 100% clear on what the API should look like.  How would calling `bss_eval_images` it be different from calling `bss_eval_sou

[2016-06-04 09:02] aliutkus commented on #68
Dear all,

my impression is that we should just drop bss_eval_sources. There is a lot of controversy about that one, that actually compute scores based on a filtered version of the true sources, hence modifying the reference signal depending on its estimation.

My feeling is that the source separation field is anyway going in the direction of stereo signals and that evaluating image separation is

[2016-06-04 17:08] carlthome commented on #68
@aliutkus, I really don't think stereo signals should be expected. In particular for digital speech enhancement/denoising tasks a single-channel setting is still common. There's a strong use case for mono recordings in real world applications in terms of data bandwidth and so on, particularly for cellphones. Even the iPhone defaults to recording mono audio files, in fact.

For example [(source)](h

[2016-06-04 17:20] craffel commented on #68
From a broader perspective, in `mir_eval` we try to include all metrics that are commonly used in the community,even if they are suboptimal. For example, the "goto" metric for beat evaluation is informally accepted as being not terribly useful, but we still include it since it's still used in MIREX and in misc papers. Even if `bss_eval_sources` is eventually completely abandoned by the community,

[2016-06-05 11:43] aliutkus commented on #68
Yo,
You're of course right when you're mentioning that there's a lot of work in single channel separation. Actually, I was making an oversimplification here.
The point is actually on whether we are evaluating over the "sources" or the "images" as references. This can happen in both single channel and multichannel separation. Let I denote the number of chanels of the mixture (I=1 for mono, I=2 for

[2016-06-06 14:51] faroit commented on #68
@craffel

alright

So @aliutkus made clear that `bss_eval_sources` and `bss_eval_images` do have different output even on mono channels, they should move to separate functions. The question is how the `evaluate` wrapper function should look like. Adding a method argument like `method='[images, sources]'` ?

Also about the framewise evaluation metric of both functions: shall we just add something l

[2016-06-07 07:57] stefan-balke commented on #193
Alright, maybe @bmcfee could give a short statement?

For me it would be very useful to have those metrics in a central place, even though it might produce redundancy with other packages. Furthermore, I think that this "retrieval" module will be a rather small one.

@justinsalamon I'd like to finish the DTW stuff in librosa first and then come back to this. Do you have any unit-tested code which c

[2016-06-07 11:21] bmcfee commented on #193
I still think we shouldn't reinvent the wheel here.  I don't see a strong argument for adding this to mir_eval if it already exists in a standard form in sklearn.

I kinda doubt that.  These things can be annoyingly hard to get right.  Relevant bits from sklearn weigh in around 2KLOC:
- [ranking.py](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/metrics/ranking.py)
- [classificat

[2016-06-07 11:40] stefan-balke commented on #193
Maybe we mix up things here.
I'm talking about measures like (taken from http://www.music-ir.org/mirex/wiki/2013:Audio_Cover_Song_Identification):

* Total number of covers identified in top 10
* Mean number of covers identified in top 10 (average performance)
* Mean (arithmetic) of Avg. Precisions
* Mean rank of first correctly identified cover

I don't find these measures in sklearn.

[2016-06-07 11:58] bmcfee commented on #193
That's recall and precision at 10, respectively.  You can compute these with sklearn's [PRC](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_recall_curve.html#sklearn.metrics.precision_recall_curve) function and indexing the output at `k=10`.

I'm not sure what you mean exactly by "average precision".  Usually in IR, that's computed as the average precision at all positi

[2016-06-07 17:08] craffel commented on #193
If you're willing @stefan-balke and @justinsalamon it may be good to enumerate *all* of the IR metrics used in MIREX and MIR papers and then try to recreate them using `scikit-learn`.  If it's infeasible for any of them, we can discuss further.  I think this has already been done for cover songs, any other metrics of interest?

[2016-06-07 17:12] stefan-balke commented on #193
My thoughts on this went in the same direction. We could then discuss if it's meaningful to have some wrapper-functions in `mir_eval` or just put the necessary function calls for sklearn into the docs.

[2016-06-07 17:43] justinsalamon commented on #193
We can compile a list, though my guess would be that all the IR metrics used in MIR can probably be computed using `sklearn`. That said, one potential benefit of having these re-implemented in `mir_eval` (or providing wrappers in `mir_eval` around sklearn, though that would be a pretty large new dependency) is that we can then provide wrappers around those in `jams` which would make evaluation of

[2016-06-08 03:03] craffel commented on #68
Ok, I think I see what you're getting at.  From a high-level perspective though, `mir_eval`'s goal is to implement metrics as they are commonly used, unless there is a fundamental "bug" which we can agree on.  If this is actually an issue with evaluation, we can discuss removing it (maybe in a separate issue!) or, we can add a flag to make it optional.  Thanks for your discussion.

Generally, `eva

[2016-06-08 03:49] craffel commented on #193
It used to be a dependency, and now it's not #20.  If there's justification for it being called in a few different places, I could be convinced to add it back in the mix (partially because we are not trying to create evaluator binaries #65, which was one of the reasons, apart from it being a heavy and not-as-standard dependency).

Is it an absolute requirement that metrics be implemented in `mir_e

[2016-06-08 14:41] justinsalamon commented on #193
In principle no, we could write wrappers around a different library. That said, as you can see from the [wrapper code](https://github.com/marl/jams/blob/master/jams/eval.py) all the wrappers are very simple because they just need to get the data in the right format and then they let `mir_eval` take if from there. If we were to wrap around `sklearn` it would involve mimicking the `mir_eval` output

[2016-06-08 15:19] bmcfee opened #200 "interval validation: is empty okay?"
I'm running into validation failures in some segment data due to [this check](https://github.com/craffel/mir_eval/blob/master/mir_eval/util.py#L708-L710).  I can't remember why we require non-empty intervals, but I don't think there's a technical reason for it in terms of div-by-zero errors in any of the metrics.  I suspect this came out of some of the weirder conversion errors in parsing the sala

[2016-06-08 15:32] bmcfee commented on #193
I think it's outside the scope of jams.

FWIW, our previous solution in #20 was to copy-paste the relevant bits of code into mir_eval.  Hurray for BSD licensing! (Also, the install problems referenced in that thread should no longer be a problem since all the C dependencies have moved over to shipping wheels.)

I'm warming a bit to the idea of mir_eval including tagging and retrieval metrics, but

[2016-06-08 19:21] bmcfee opened #201 "T-measure acceleration"
[Note: This isn't an immediate issue, but I want to jot down some thoughts here for future reference.]

The `hierarchy.tmeasure` implementation involves a [summation](https://github.com/craffel/mir_eval/blob/master/mir_eval/hierarchy.py#L146) that takes `O(n * w**2)` time, where `n` is the number of frames and `w` is the window length.  This calculation derives from counting the number of disorder

[2016-06-09 01:01] bmcfee commented on #201
For posterity, here's a bit more detail on how t-measures can be computed more efficiently.

After computing the least-common-ancestor matrices for `ref` and `est`, we iterate over query frames `q`.

For each `q`, we slice `ref_scores = lca_ref[q, window]` and `est_scores = lca_est[q, window]` where `window` is a slice around `q`.

Then, for each `i, j` (not counting `q`), we want to know how ofte

[2016-06-09 01:26] bmcfee commented on #201
With a little more optimization and using run-length encoding to more efficiently count inversions, this is down to
[code]

[2016-06-10 04:57] craffel commented on #200
Just to be clear, you're saying you want to change `<=` to `<` so that intervals with effectively "length zero" are considered valid?  I don't see why not, but playing devil's advocate, why would that ever be considered valid?  It doesn't make a lot of conceptual sense to me, but maybe there's a use-case for it I don't know of.

[2016-06-10 13:09] bmcfee commented on #200
Right.  Thinking back about it, this was probably introduced to prevent multiple hits for duplicated boundaries.

You're right though; I think we should leave it as is.  I'll close this one out.

[2016-06-10 13:09] #200 closed

[2016-06-10 13:16] bmcfee opened #202 "sorting intervals -- OR -- interpolate_intervals bug"
[porting over from https://github.com/marl/jams/issues/116 ]

I ran into the following error:

[code]
I think the error is that `util.interpolate_intervals()` assumes the intervals are sorted, but this is not stated in the docstring.

In general, I don't think we should require the intervals to be sorted, since the boundaries are all explicit.  It would be easy to add a sorting step to `interpolat

[2016-06-10 15:13] bmcfee commented on #202
This issue actually pops up again in all the segment metrics because `validate_structure` requires `intervals[0, 0] == 0`.

Additionally, I think the [`interpolate_intervals`](https://github.com/craffel/mir_eval/blob/master/mir_eval/util.py#L157-L164) logic is incorrect if the segments don't cover all time instants in question.  (This is not documented behavior.)

So here are my proposed solutions

[2016-06-10 18:22] craffel commented on #202
Sounds reasonable overall, but

we should probably only call this if the intervals are not sorted, because sorting things is more expensive than checking whether things are sorted.  Though I guess it's probably not slow enough to warrant a special check.

[2016-06-10 18:27] bmcfee commented on #202
Eh, we're talking about sorting on the order of tens of numbers here; I'm not worried about it.  The additional logic to check if it's sorted isn't worth the effort IMO.

Also, I've simplified the validators and metrics so that sorting is only called when needed, ie, when interpolating labels.

[2016-06-13 18:05] #202 closed

[2016-06-14 09:21] carlthome commented on #68
Thanks @aliutkus for that great clarification. :heart:  With the distinction between images and sources I absolutely agree that evaluating images is much more useful, especially philosophically what with stereo miked pianos, guitars, reverberation and so on, and drum kits with their ambiguous polyphonicity like you mentioned.

[2016-06-14 09:32] carlthome commented on #68
For the simplest aggregate with the most useful information, I'd really like to push for minimum and an average as in https://github.com/craffel/mir_eval/issues/192 (median would be fine, central limit theorem be damned). Hopefully, in the future, an analytical lower bound should be expected as well, but an estimated minimum on a test set is still very useful.

...and maybe max just for symmetry,

[2016-06-15 09:37] Js-Mim commented on #68
@faroit , @ErikJohnsonCU

I would be definitely interested in that pure python implementation of bss_eval_images.
Any updates on that?

Thanks,
S.

[2016-06-15 09:40] faroit commented on #68
@Js-Mim yes, actually it is already finished, but we are waiting for #199 to be ready, so that we get the interface right. Also @ErikJohnsonCU is still looking if we can speed up the pure python version... But it should just be a matter of 1-2 weeks... hold on ;-)

[2016-06-15 09:42] Js-Mim commented on #68
@faroit thanks for your fast reply. Let me know if you need a hand over the optimization.
Cheers,
S.

[2016-06-15 09:45] faroit commented on #68
@Js-Mim thanks. yeah, maybe we add a pure python version here and highly optimised version in [dsdtools](https://github.com/faroit/dsdtools) where we already know that processing these 5 min tracks take ages to compute...

[2016-06-15 15:34] steiml opened #204 "key detection module returns score=0 when tested key is a fifth below reference key"
Hi,

I just used the library for evaluating key detection and stumbled upon this behavior which looks odd to me:

Python 2.7.11 |Anaconda 4.0.0 (64-bit)| (default, Feb 16 2016, 09:58:36) [MSC v.1500 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.
Anaconda is brought to you by Continuum Analytics.
Please check out: http://continuum.io/thanks and https

[2016-06-15 16:22] stefan-balke commented on #204
Hi Michael,

I think you are right and this is a bug imho.

Relevant line in the code is this one:
https://github.com/craffel/mir_eval/blob/master/mir_eval/key.py#L129

Maybe citing Elaine Chew from some years ago clarifies things (http://www.music-ir.org/mirex/wiki/2005:Audio_and_Symbolic_Key):

So, C maj and F maj and G maj should have the same relationship and thus the same score.

Any opinions

[2016-06-15 16:25] bmcfee commented on #204
I seem to recall some argument for treating ascending and descending fifths differently, but maybe that was in chord eval.  Searching through the issues turned up nothing -- maybe @craffel or @ejhumphrey know what I'm talking about?

[2016-06-15 16:43] stefan-balke commented on #204
Looking at the history of the source-code there was not much of a discussion :)

I looked through the test cases which are considered and they only consist of an ascending fifth but lacks a descending one.

[2016-06-16 01:22] craffel commented on #204
I believe this is known behavior and matches the behavior of the MIREX code; we discussed it in the pull request: https://github.com/craffel/mir_eval/pull/181  It is also a bit odd to me personally, but I don't know anything about music theory so I defer to experts.  Unless there is community consensus that this is wrong (and the MIREX code is too), we will leave it as-is.

[2016-06-16 01:43] justinsalamon commented on #204
I think it was me who was arguing that this made sense (or at least seemed sensible), here's the relevant bit:

Basically, the relationships between scales are not symmetric: estimating a tonic of G when it's really C is not the same as estimating a tonic of C when it's really G.

[2016-06-16 01:50] bmcfee commented on #204
That's a little vague, but consistent with what @justinsalamon's describing.

FWIW, the [mir_eval documentation for key estimation](http://craffel.github.io/mir_eval/#mir_eval.key.weighted_score) is more precise, but could perhaps still be improved.

[2016-06-16 07:41] stefan-balke commented on #204
Well, it depends on the definition. If we follow Elaine's argument, then any two scales which share all but one note (Cmaj-Fmaj share all but Bb, Cmaj-Gmaj share all but F# etc.). Also, the symmetry is re-established if you talk about going a fifth up or a fifth down instead of a fifth up or a fourth up.
But just my 2 cents...

[2016-06-16 10:30] stefan-balke commented on #204
Sorry, can't let go of this.
Here is a citation from:

Chuan, C.-H. and Chew, E., "Fuzzy Analysis in Pitch Class Determination for Polyphonic Audio Key Finding," in Proceedings of the 6th International Society for Music Information Retrieval Conference, London, UK, September 2005. ISBN: 0-9551179-0-9

![screen shot 2016-06-16 at 12 26 44](https://cloud.githubusercontent.com/assets/7326732/16113702

[2016-06-16 12:52] steiml commented on #204
I wasn't aware of the discussion related to the pull request. Personally, I'm more in favor of the symmetric approach but I also understand why the "clock-wise" approach makes sense. And if the MIREX evaluation is done that way it should definitely stay in there to be consistent. I'm wondering if it makes sense to add an option to the evaluator, which also considers a fifth downwards a close key a

[2016-06-16 13:10] bmcfee commented on #204
Just a reminder: this kind of thing would be perfect to discuss at the ISMIR unconference session, if any of y'all will be in attendance.

[2016-06-17 10:20] steiml commented on #204
Great idea, I'll most certainly be there.

[2016-06-21 15:14] bmcfee opened #206 "Code review integration?"
@craffel any thoughts about adding a code review integration tool?  Some of the CR here is getting difficult to keep track of across revisions, and something like [reviewable](https://github.com/integrations/reviewable), [review ninja](https://github.com/integrations/reviewninja), or [pull approve](https://github.com/integrations/pullapprove) could help.

(FWIW, I've been using reviewable and it's

[2016-06-21 20:41] craffel commented on #206
I'm not opposed to it, but I've never used any of them, so I don't really know what we're missing.  I don't have the bandwidth to learn/integrate now, but am open to it soon.

[2016-06-21 21:57] #190 closed

[2016-06-21 21:57] craffel commented on #206
It sounds great.  I assume it will be messy to do while we are in the midst of CR/PRs though, so maybe we can do this once the outstanding PRs are merged?

[2016-06-21 22:35] bmcfee commented on #206
Nah, it's all pretty non-invasive; everything shows up on github as comments.  It's more a matter of adopting procedure than anything else.  But it's your call, check it out whenever.

If you want to see the process, check out [this open PR](https://github.com/librosa/librosa/pull/323) on librosa.

[2016-06-23 19:23] stefan-balke commented on #204
Okay, I did ask Ching-Hua Chuan for this, but still the reasoning is only because it's the perfect fifth. *fullstop*

I miss the physical argumentation here but the `mir_eval` implementation is correct and that was to be clarified.

[2016-07-05 23:43] #28 closed

[2016-07-10 14:08] bmcfee commented on #187
It doesn't skip the first line.  It starts the enumeration at 1 instead of 0.  This is so that errors reported below correctly report the offending line number in the input file.

[2016-07-13 02:03] craffel commented on #187
Derp, thanks.

[2016-07-13 02:03] #187 closed

[2016-07-14 14:13] bmcfee commented on #206
While at this, how about adding a https://dependencyci.com/ integration?

[2016-07-15 21:51] #191 closed

[2016-07-21 14:36] bmcfee commented on #184
I looked into doing this, and it seems like we don't have milestone tags for most merged PRs.  This makes it really difficult to figure out which PRs merged for which releases.

@craffel could you create retroactive milestones (0.3, 0.2, 0.1) and we can then tag old PRs to make this easy?

[2016-07-21 15:28] craffel commented on #184
makes it really difficult to figure out which PRs merged for which releases.

There already are milestones for all of those releases: https://github.com/craffel/mir_eval/milestones?state=closed Apart from that, I don't think all contributions have been in PRs (except probably for 0.3) since lots of people have write access to the repo and we weren't doing PRs initially.  If you want to create a ch

[2016-07-21 18:24] bmcfee commented on #184
Can we do it by issue instead?  I really don't want to rifle through the commit log.

[2016-07-22 01:25] craffel commented on #184
Potentially, but then we might miss changes, as I don't think every change had an accompanying issue (or at least there may not be a 1-1 correspondence).  But you can already see issues assigned to each milestone:
https://github.com/craffel/mir_eval/milestone/6?closed=1
Or do you mean you want me to go back and assign each issue without a milestone to a milestone?

[2016-07-22 09:53] stefan-balke commented on #206
+1 here for CR tool.

[2016-07-22 15:35] #183 closed

[2016-07-22 15:35] bmcfee commented on #184
Yes.

[2016-07-22 15:38] craffel commented on #184
Ok, I will try to make a 1-1 correspondence before the next release.

[2016-07-22 15:40] bmcfee commented on #184
That might be overkill, but as long as we catch the important issues, that's fine.

I don't mind doing the sphinxification.

[2016-07-22 16:16] bmcfee commented on #184
I started the PR: i don't think we need a changelog for anything before 0.1.

In terms of issue assignment:

- 0.2 looks pretty complete
- 0.3 is totally missing
- 0.4 looks good so far.

If you can just track down the issues resolved between 0.2 and 0.3 (by date?) that would be helpful.

[2016-07-28 14:47] stefan-balke commented on #184
When is the release planned? Could make use of some of the viz functions but jams PR is on halt until 0.4 is ready.

[2016-07-28 15:19] #204 closed

[2016-07-28 15:21] craffel commented on #184
No definite release date planned, but it will basically be ready once all the new source separation stuff is merged and the 0.4 issues are resolved.  We may punt on #197.  So, soon.

[2016-07-29 11:18] faroit opened #213 "Framewise separation evaluation where some frames are silent"
While evaluating the framewise separation methods that have been added #199 and are almost ready in #212 , I've figured out, the validation routines are a bit too strict: Let's assume there is silence in one of the frames being evaluated:

[code]

this results in

```ValueError: All the reference sources should be non-silent (not all-zeros), but at least one of the reference sources is all 0s, whi

[2016-07-29 14:05] faroit commented on #184
Sounds great. [dsdtools](https://github.com/faroit/dsdtools/tree/WIP_eval) is already prepared to support 0.4 ;-)

[2016-07-29 14:47] carlthome commented on #213
Yes, I agree. I don't think an exception should be raised. It should continue (but maybe output the same text as a warning). It should be left to the user to think about what material they're evaluating and whether it makes sense.

[2016-07-29 16:47] craffel commented on #213
`np.nan` is better than `None` because a `np.ndarray` can't store a `None` without being of dtype `object`.  I will leave it up to you all to decide what the best validation/metric conventions are!

[2016-08-03 10:07] faroit commented on #213
@craffel okay, cool. Shall we wait for #212 and then add the `nan` routine in a separate PR that changes all framewise calculations?

[2016-08-03 16:50] craffel commented on #213
Sounds good to me!

[2016-08-07 16:55] craffel opened #214 "mir_eval.display.piano_roll should raise a ValueError when both pitches and midi are None"
As specified [here](https://github.com/craffel/mir_eval/blob/master/mir_eval/display.py#L659).  There is no such check; it just throws a confusing AtributeError [when `None` is passed to `hz_to_midi`](https://github.com/craffel/mir_eval/blob/master/mir_eval/display.py#L675).  I think this is the only place this is true in `display`.

[2016-08-07 19:18] #214 closed

[2016-08-09 08:40] ErikJohnsonCU commented on #213
This issue is corrected in PR #216. I'd invite further discussion on that webzone. I used the `np.nan` approach since it seemed that was unanimously decided to be a better approach.

[2016-08-12 15:37] faroit commented on #213
🎉 @craffel @bmcfee @carlthome @dpwe

While #216 looks like almost to be ready to merge, I would like to take a moment to thank @ErikJohnsonCU for his excellent work. Today was his last day of his summer internship here at @audiolabs. I hope that his contributions to `mir_eval` (like #199 #207 #212) are useful for the community. We are so glad we had him here... so lets hope he enjoyed working in a

[2016-08-12 15:38] carlthome commented on #213
:tada: :balloon: :dancers:

[2016-08-12 15:40] craffel commented on #213
Did not know that! Totally excellent work, truly appreciate your contributions. Very happy to have all of the bss_eval metrics in `mir_eval` updated and on lock. Sorry again for any delays or nitpicking from my end :)

[2016-08-15 06:18] ErikJohnsonCU commented on #213
@craffel @craffel @bmcfee @dpwe

It's been a pleasure being able to contribute and help `mir_eval` grow a little bit! Thank you so much to @faroit for hosting me; I really enjoyed the experience of working @audiolabs! I've learned a lot and I really appreciate all the nitpicks that have helped me refine my python style and understanding of open source software contributing.

[2016-08-19 02:06] craffel commented on #213
Resolved in 8a1cb7210354ebff5d776a034f6df83132c85fe5.  Thanks!

[2016-08-19 02:06] #213 closed

[2016-08-19 02:07] craffel commented on #197
Punting to 0.5.

[2016-08-19 02:08] craffel commented on #192
Has this been covered by the recent enhancements to separation eval (e.g. by using framewise eval and computing max/min by hand)?  If so, can you close?

[2016-08-19 07:14] carlthome commented on #192
Yes. Great.

[2016-08-19 07:14] #192 closed

[2016-08-23 15:40] bmcfee commented on #184
closed by merging #211

[2016-08-23 15:40] #184 closed

[2016-08-24 17:02] craffel opened #217 "Make validate_chord_label more strict"
I think it would be usful if `validate_chord_label` would raise an exception for any invalid chord, rather than the specific things it looks for.  For example, `mir_eval.chord.validate_chord_label('asdf')` passes without an exception.  Can we formalize what exactly a valid chord label is, and put it in this function?  @ejhumphrey do you have bandwidth for this?

[2016-08-24 18:20] bmcfee commented on #217
Feel free to use the [jams chord regexp](https://github.com/marl/jams/blob/master/jams/schemata/namespaces/chord/chord.re) for this.

[2016-08-24 19:57] bmcfee commented on #217
... it might also make sense, if anyone's so inclined, to use the regexp to redo `chord.split` using back-references.  There's nothing wrong with the current implementation (AFAIK), but if we already have the regexp, it would be much simpler to use it for parsing chord strings, and would eliminate a good amount of code.

[2016-08-27 23:24] rabitt opened #219 "melody.freq_to_voicing returns single boolean if not a numpy array"
[```melody.freq_to_voicing```](https://github.com/craffel/mir_eval/blob/master/mir_eval/melody.py#L144) is meant to take a numpy array. I accidentally discovered that if you instead give it a list of floats instead of a numpy array, it returns ```True```, rather than an array of booleans.

[code]
I definitely just used the function wrong, but it is a bit of a sinister error. I don't have any ideas

[2016-08-28 01:13] craffel commented on #219
This arguably falls within the scope of #143.  In general, at the moment, we don't make an effort to type-check arguments, with the policy that if the docstring asks for, say, an `np.ndarray` and the user provides a `list`, they are on their own.  This isn't the best policy, but if we are going to fix it we should fix it everywhere... and I'm guessing you don't want to make a PR for that right now

[2016-08-28 01:21] rabitt commented on #219
Fair enough. In that case I will hold off ;).

[2016-08-28 01:30] craffel commented on #219
Ok, closing this in favor of #143.

[2016-08-28 01:30] #219 closed

[2016-08-28 01:32] craffel opened #220 "Better docstrings for separation"
Currently, the docstrings for the metrics in `mir_eval.separation` are not super helpful - they basically say "Computes xyz function from bss_eval".  Specifically, this makes it unclear what the difference between `bss_eval_sources` and `bss_eval_images` is.  @ErikJohnsonCU @faroit @carlthome when one of you have a minute, can you make a PR to make them a bit more informative?  Thanks!

[2016-08-30 14:11] carlthome commented on #220
@craffel, I don't feel I have a solid enough grasp of the single-channel and multi-channel difference aside from `bss_eval_sources` pretty much only being a fair estimate for point sources and instantaneous mixes (let's say dry vocals recorded in a dampened booth, or line-in recorded Moogs), so I don't dare to add anything to the docstring. @faroit is the guru here. :hamster:

[2016-08-30 14:13] carlthome commented on #220
Ping @aliutkus

[2016-08-30 18:38] bmcfee opened #221 "Warning in sonify.clicks"
I get this a lot:
[code]
whenever `length` is a float type.  I can cast it myself, but I think it's better to handle that within `clicks`.

[2016-08-30 20:27] craffel commented on #221
The docstring specifies supplying an `int`, so the current policy of `mir_eval` is that it's on you:
https://github.com/craffel/mir_eval/blob/master/mir_eval/sonify.py#L25
Otherwise, this falls under #143 - we don't type check most inputs in `mir_eval`; if we're going to check some, we should check them all (e.g. that when a np.ndarray is asked for, a list is not provided #219, etc).

[2016-08-30 20:29] bmcfee commented on #221
Actually I don't think that's correct in this case.

At [these lines](https://github.com/craffel/mir_eval/blob/master/mir_eval/sonify.py#L41-L43), the length is inferred from times, but not explicitly cast to int.  Since `times` need not be int, this warning can happen anyway.

[2016-08-30 21:34] craffel commented on #221
Well, it's definitely correct (we need `length` to be an `int`, user-supplied or not), it's just a different issue,.  We should definitely be doing `length = int(times.max()*fs + click.shape[0] + 1)`.

[2016-08-30 21:47] bmcfee commented on #221
Yes, sorry if my initial post was unclear, I was writing in a hurry.

I think this does have to be fixed within mir_eval.

[2016-08-31 17:02] #221 closed

[2016-09-14 13:28] bmcfee commented on #206
@craffel now that 0.4 is out, any objection to me adding this?

[2016-09-14 15:15] craffel commented on #206
Sure, go for it.

[2016-09-14 15:20] bmcfee commented on #206
derp, it looks like only the repo owner can do it. :cry:

[2016-09-14 15:25] craffel commented on #206
Ok, I can do it.  Which one did you end up choosing?

[2016-09-14 15:59] bmcfee commented on #206
I like reviewable.

On Wed, Sep 14, 2016, 11:25 Colin Raffel <notifications@github.com> wrote:

[2016-09-14 21:51] craffel commented on #206
How about using [GitHub's new built-in code review features](https://github.com/blog/2256-a-whole-new-github-universe-announcing-new-tools-forums-and-features)?

[2016-09-14 22:01] bmcfee commented on #206
Oh snap.

[2016-09-19 15:08] bmcfee commented on #206
After poking around github's new CR stuff, I'm not sure it's the best way to go.  I think I prefer reviewable's status management and comment thread system, but I'll leave the call to @craffel.

[2016-09-19 15:22] craffel commented on #206
Having never used either, I'd rather start with the simple, built-in solution than try something external, especially if the external one has more features.  If we are finding GitHub's approach is awkward/not enough, we can consider switching.

[2016-09-19 15:22] #206 closed

[2016-09-21 13:27] carlthome opened #223 "Difference between transcription.precision_recall_f1_overlap and multipitch.metrics modules?"
Considering that `transcription.py`'s symbolic representation is piano rolls with non-quantized pitches, what's the difference between `transcription.py` and `multipitch.py` really? I'm extra confused by how `transcription.py` [references the multi-f0 mirex estimation task](https://github.com/craffel/mir_eval/blob/master/mir_eval/transcription.py#L20). Could anyone help clarify why both modules ex

[2016-09-21 16:15] craffel commented on #223
cc @rabitt @justinsalamon

Well, the difference starts with the fact that their annotation format is quite different.  multipitch takes specifies, on a fixed timing grid, "what fundamental frequencies are present at this point in time?"  transcription is more like MIDI, specifying individual notes, with start times, end times, and pitches.  This means that evaluating them ends up looking a good bi

[2016-09-21 18:20] justinsalamon commented on #223
Nope, that's correct.

[2016-09-21 22:23] carlthome commented on #223
Aha, so multipitch.py is for frame-based pitch estimation while transcription.py is for event-based pitch estimation? Thanks, @craffel!

It could be clarified in the docs, IMHO. Especially pros/cons of the respective formats, with some example use cases. Does it make sense to use multipitch.py for a solo piano? Does it make sense to use transcription.py for a string quartet?

[2016-09-21 22:38] craffel commented on #223
I agree. If you or @justinsalamon or @rabitt want to make a PR, it would be welcome.

This is outside the scope of `mir_eval`.

[2016-09-22 00:05] rabitt commented on #223
Another difference - multipitch is intended for time varying pitch
curves/sequences
whereas transcription is events with a single pitch throughout the note.

On Wednesday, September 21, 2016, Colin Raffel <notifications@github.com>
wrote:

[2016-10-21 20:04] bmcfee opened #226 "RFC: fixing the segment.nce metrics?"
[warning: opinions follow.]
### Summary

I think the normalized conditional entropy (NCE) scores for segmentation are not properly defined, and we could fix it.
### Background

The NCE scores are defined in terms of conditional entropy between the label distributions estimated from the reference and estimated segmentations.  From Lukashevich's paper:

![image](https://cloud.githubusercontent.com/a

[2016-10-21 20:28] craffel commented on #226
As someone outside of segment eval, this seems reasonable to me.  Do you have any intuition for how much this changes the score in practice?

It seems to me that if your justification is correct/widely agreed upon, we should make a stronger move than this.  Can you reach out to others who may have thought about this and encourage them to participate in this issue before we take action?

[2016-10-21 20:54] bmcfee commented on #226
Sure:
- `H(E) <= H(Uniform) = log N_e` (since uniform is maximum entropy)
- -> `H(E|A) / H(E) >= H(E|A) / H(Uniform)` (since we're dividing by a smaller number)
- -> `1 - H(E|A) / H(E) <= 1 - H(E|A) / H(Uniform) = S_o`

so the over-segmentation score will be lower if we use marginal entropy instead of uniform.

Sure.  I figured I'd start the conversation here and then kick it out to music-ir.

[2016-10-21 21:02] craffel commented on #226
Yeah, my question was basically whether you had a rough idea, for a typical song and a sane segmenter algorithm, whether this would change the score by a few percent, a few tens of percent, etc.

[2016-10-25 18:47] dpwe commented on #226
I assume in most real examples, the distribution of E is far from uniform,
so H(E) may be much smaller than log_2(N(E)). I would expect the values to
be scaled quite differently and not recognizably comparable. But I like the
proposal, since I think it gives a value which is more comparable between
different tracks, where a small H(E) may drastically limit the largest
possible value of H(E|A).

[2016-11-01 17:58] bmcfee commented on #226
Here are the comparisons on the SALAMI data set for upper and lower annotations, over and under, using both the uniform (current) and marginal (proposed) normalization:

![image](https://cloud.githubusercontent.com/assets/1190540/19900334/831717dc-a039-11e6-81aa-b3837d7f51f5.png)

Over and under are interchangeable here: they refer to which annotator is treated as reference and which is the estima

[2016-11-04 21:02] georgid opened #228 "Question interval util function"
Hi, is there a function opposite to what `mir_eval.util.intervals_to_samples` does?
i.o.w.  I give it a list of equally-spaced sample points and it creates intervals
for input
ts   label
0.1 A
0.2 A
0.3 A
0.4 B
0.5 B
0.6 A
0.7 A
it would return
0.1 0.4 A
0.4 0.6 B
0.6 0.7 A
Thanks!

[2016-11-06 01:52] craffel commented on #228
No, sorry, there isn't.

[2016-11-06 01:52] #228 closed

[2016-11-08 16:53] georgid opened #229 "return indices of adjusted intervals"
I request an additional output of `mir_eval.util.adjust_intervals():`
`idx_start:` int
 the idx in the parameter  **intervals** of the returned **new_intervals**[0]
`idx_end:` int
 the idx in the parameter  **intervals** of the returned **new_intervals**[-1]

This could be useful when marking intervals of interest in a large file for later usage.

[2016-11-08 19:36] craffel commented on #229
Seems reasonable, but changing the output pattern of the function will break backwards compatibility, so can't be taken lightly.  In particular, if there is scarce interest in this, I would suggest instead having users implement a custom function based on `adjust_intervals` as needed.  @bmcfee any thoughts?

Can you give me a more specific example?

[2016-11-08 19:44] bmcfee commented on #229
I don't think I understand the suggested modification.  Can you provide an example input and output of the proposed behavior?

[2016-12-05 18:15] pafoster commented on #226
Hi All,

To briefly add to this and having seen the recent community@ismir.net list discussion about naming the measure: 1 - H(E|A) / H(E) = 1 - (H(E) - I(E;A)) / H(E) = I(E;A) / H(E). So I suppose one could generically refer to it as `normalised mutual information', if the aim is to distinguish it from the previous measure? It's also worth noting that in terms of mutual information, the F1 score

[2016-12-29 12:29] stefan-balke opened #230 "Web service not available"
Hi,

since the webservice is not available we should either delete it from the README.md or setup some other resources for that.

Opinions?

[2016-12-29 19:10] craffel commented on #230
Or we could, you know, fix the webservice!  This was caused by the labrosa webserver crashing and losing the appropriate apache configuration to successfully deploy the proxy to http://mireval.herokuapp.com/ (where the service actually lives).  Now fixed.

[2016-12-29 19:11] #230 closed

[2017-01-02 09:06] stefan-balke opened #231 "Framewise transcription evaluation"
Hi everyone,

recent transcription papers:
* Kelz et al., "On the Potential of Simple Framewise Approaches to Piano Transcription ". https://arxiv.org/abs/1612.05153
* Sigtia et al., "An End-to-End Neural Network for Polyphonic Piano Music Transcription"

This is basically http://scikit-learn.org/stable/modules/model_evaluation.html#multiclass-and-multilabel-classification with using the `macro` p

[2017-01-02 19:01] craffel commented on #231
Thanks for bringing this up.  A few questions -

1) Is there a reference implementation for these, e.g. something we can compare the scores generated by a hypothetical `mir_eval` implementation to?
1) Is this metric widely (e.g. community consensus) accepted, i.e. will it be used in MIREX?
1) Is `scikit-learn` in a better place in terms of easy installability (e.g. thanks to wheels, or whatever)?

[2017-01-02 19:50] justinsalamon commented on #231
fwiw, in sound event detection (SED) there seems to be a growing preference for frame-(or "segment", which is basically some fixed time duration)-based evaluation over event-based evaluation (which is equivalent to note-based), because the latter is very penalizing (consider the case where an algorithm returns two consecutive notes for a single reference note - the first note would only be a match

[2017-01-03 05:27] stefan-balke commented on #231
No, it seems to be down...

One point of reference is:
M. Bay, A. F. Ehmann, and J. S. Downie, “Evaluation of multiple-F0 estimation and tracking systems.” in Proceedings of the 9th International Society for Music Information Retrieval Conference (ISMIR), 2009, pp. 315–320.

Relating to sklearn's function, there is still confusion on which aggregation function to use (`micro` or `samples`)
Pinging

[2017-01-03 07:27] justinsalamon commented on #231
M. Bay, A. F. Ehmann, and J. S. Downie, “Evaluation of multiple-F0 estimation and tracking systems.” in Proceedings of the 9th International Society for Music Information Retrieval Conference (ISMIR), 2009, pp. 315–320.

That's a multi-f0 tracking paper though, not transcription. It's important not to confound these, as transcription is a more involved task requiring segmentation/quantization into

[2017-01-03 08:44] fdlm commented on #231
Right! But I think frame-wise evaluation would work the same for both multi-f0 tracking and 'real' transcription. I don't know if it makes sense for note transcription, though.

Anyways, following formulas 1, 2, and 3 in Bay et al., assuming we sampled predictions and targets at a specified frame rate, we get two bit vectors `pred` and `targ`. Then, computing true positives, false positives, false

[2017-01-03 08:56] stefan-balke commented on #231
I just tracked down the literature given by Sigtia et al. and I agree, defining the task is very important here. For me music transcription involved the step of aggregating framewise candidates to a sequence of notes (which then matches the MIDI-like list of note events for the transcription metrics).

So, how do you call then the step of having only the framewise candidates? multi-f0 tracking?

[2017-01-03 08:57] rainerkelz commented on #231
actually, the formulas in the two papers linked by stefan are *very likely* the wrong ones, ... i wrote up the whole ugly mess here:
[evaluation_shenanigans.pdf](https://github.com/craffel/mir_eval/files/681897/evaluation_shenanigans.pdf)

TL;DR:
when i finished the paper, i just copied the formulas over at the last minute, w/out double-checking -- in sigtia's paper they actually reference the pap

[2017-01-03 09:01] justinsalamon commented on #231
Btw, note-level eval is already implemented in `mir_eval`, as is multi-f0. So (assuming the implementations are correct) to get frame-level metrics for transcription you'd just have to sample the note events onto a fixed time grid (which I think is also already implemented somewhere) and then feed that into the multi-f0 metrics, I think. Pinging @rabitt

[2017-01-03 22:52] craffel commented on #231
Based on my understanding of the metrics being discussed here, this seems correct.  What functionality is currently missing?

[2017-01-06 18:43] chf2117 commented on #197
I'd like to take a stab at this. Seems like the way to do this is add a flag in precision_recall_f1_overlap and match_notes?

[2017-01-06 18:49] ejhumphrey commented on #197
not sure if it'll be of any help, but there's machinery in [mir_eval.chord](https://github.com/craffel/mir_eval/blob/master/mir_eval/chord.py) that _might_ be useful??

[2017-01-06 19:16] craffel commented on #197
Cool, contributions welcome.  @justinsalamon will know best what is necessary.

Seems that way to me too.

[2017-01-07 01:26] justinsalamon commented on #197
This should be relatively straight forward. The metrics (excluding ones that only consider onsets or offsets) rely on [`match_notes`](https://github.com/craffel/mir_eval/blob/master/mir_eval/transcription.py#L336), which computes pitch distances [here](https://github.com/craffel/mir_eval/blob/master/mir_eval/transcription.py#L426) and checks for pitch matches [here](https://github.com/craffel/mir_

[2017-01-07 20:38] chf2117 commented on #197
I've got a 3 line solution that makes sense to me [here](https://github.com/chf2117/mir_eval/blob/master/mir_eval/transcription.py#L430). Still need to test.

Don't know a good way to generate test data. Any advice @justinsalamon?

[2017-01-07 22:04] justinsalamon commented on #197
@chf2117 that looks right to me (but should be tested of course). To test that it really does what you expect it to you need to add unit tests to [`test_transcrpition.py`](https://github.com/craffel/mir_eval/blob/master/tests/test_transcription.py). The toy data for the unit tests is hard coded [here](https://github.com/craffel/mir_eval/blob/master/tests/test_transcription.py#L17), if it's suffici

[2017-01-19 17:05] bmcfee opened #233 "matplotlib 2.0 may break regression tests on display module"
Just putting this issue here, since the new release might change some of the default settings in ways that cause the regression tests to fail.

My advice is to update the build requirements for testing to `matplotlib >= 2.0.0` and re-generate the test cases accordingly.  People can still run code on 1.5, but testing should stay up to date.

[2017-01-19 17:24] craffel commented on #233
Ok, thanks.

How did you generate the test cases in the first place?

[2017-01-19 17:54] bmcfee commented on #233
Ran the tests functions, checked the output manually, and then copied over to baseline images.

I can take care of this in a few days.

[2017-01-19 18:08] craffel commented on #233
Ok, cool.

[2017-02-09 16:26] bmcfee commented on #226
We could; I worry that it's too similar to "normalized conditional entropy" though.  I figure since V-measure is already defined in the literature, we may as well use it?

Ooooh, I hadn't noticed that before.  Nice!

[2017-02-09 19:43] bmcfee opened #235 "float-valued indexing will break everything on numpy >= 1.12"
This warning is popping up in the current tests on python 3:
[code]
The [offending code](https://github.com/craffel/mir_eval/blob/master/mir_eval/beat.py#L405-L409) is due to a float-divison `/` rather than integer division `//` in computing `middle_lag`.  This is why the warning does not show up in py2.7.

This gives a warning in numpy <= 1.11, but in 1.12 and above, it will throw TypeErrors.  No

[2017-02-09 21:28] craffel commented on #235
Will look into this in a few weeks.  If I am blocking something after then, don't hesitate to ping me.

[2017-02-11 22:12] bmcfee commented on #235
This one is causing build errors on jams, and holding up a release.  Any objection to me fixing it directly and merging?  Ought to be a one-liner for beats.

[2017-02-11 22:13] bmcfee commented on #235
note: the np 1.12 issues are gonna stack up quickly, so it'd be good to get a mir_eval release out ASAP.

[2017-02-12 00:19] craffel commented on #235
Fine with me, otherwise I have a paper deadline at the end of the month; I will be available to work on it after then.

You mean beyond what's mentioned in this thread?

[2017-02-13 16:52] #235 closed

[2017-02-13 22:20] #233 closed

[2017-02-21 17:22] bmcfee opened #237 "[question] chord encoding with inversions"
I ran into this issue while playing around with `mir_eval.chord.encode`.  The interpretation of inversions isn't totally obvious, or well-documented.

Example:
[code]
I would expect `G:min/3` to put the (minor) third in the bass, but the encoder is interpreting `/3` as natural (second example has both a minor and natural third in the pitch class encoding).  Inversion with a flat-3 does the right t

[2017-02-21 17:23] bmcfee commented on #237
tagging @ejhumphrey because of course

[2017-02-21 17:31] mattmcvicar commented on #237
@bmcfee this is the expected behaviour given the Harte notation - although I agree it could be clearer.

I think an absolute pitch class would will work fine, except that you lose some enharmonic information. For example, I can imagine some scenarios in which I really want to know that I have `C:maj/#4` and not `C:maj/b5`. Probably not _many_ scenarios, but some.

[2017-02-21 17:57] ejhumphrey commented on #237
haha, yep.

I've found it's best practice to discard data labeled as such rather than try to map it. If it's got an uncommon label, it's because something weird is going on, and probably requires closer inspection.

haha plenty to be frustrating.... @mattmcvicar you remember the `D:maj/#1` or whatever.

[2017-02-21 18:58] bmcfee commented on #237
Sure -- my question was more along the lines of "is this how annotators interpret the notation?"

Agreed.  Nobody ever includes rev#9 anyway.  OTOH, it's a small number of cases we're talking about, and probably less than an hour's worth of work to verify and/or correct the annotations.

This problem came up for me because I want to implement a chord normalization function.  Given an input chord a

[2017-02-24 18:21] bmcfee opened #238 "Acceleration || branching from #68"
The issue of acceleration came up in #68 , either by numba or by cython.  It seems like we should branch the discussion off into its own issue.

### Cython

* Pro: minimal dependencies, pip installable, wheels
* Con: packaging can be tricky, significant developer time required

### Numba

* Pro: minimal developer time required
* Con: not pip installable due to LLVM dependency

My two cents: despit

[2017-02-24 18:46] justinsalamon commented on #238
+1!

[2017-02-24 19:12] bmcfee opened #239 "Fix source separation unit tests"
Tagging @faroit @ecmjohnson

At some point in the last six months, the regression tests for source separation have started failing, specifically on fixtures `output00` (Images Frames - Source to Interference and Artifact) and `output04` (Images - Source to Interference and Artifact).

Anyone know what's going on here?  The results are off by up to 1e-2 in some cases, so I don't think this is up to

[2017-02-24 19:28] bmcfee commented on #239
FWIW, I get slightly different failures on my local machine compared to travis.

Travis failure (2.7):
[code]

Travis failure (3.5):
[code]

Local failure (3.5):
[code]

My local environment is pretty close to the travis 3.5 environment, except that I'm using an openblas numpy build.

Looking into the code, I wonder if there are machine precision errors creeping in through a numerically unstable d

[2017-02-24 20:04] bmcfee commented on #239
The plot thickens.  On a local environment using the stock conda numpy build, it passes:
[code]
The fact that swapping out the blas implementation can trigger failures in these tests indicates that there's indeed some numerically unstable calculation lurking somewhere in the separation module.  I'm not sure it's the `safe_db` calculation, as fixing that locally but keeping openblas did not fix it

[2017-02-24 20:51] bmcfee commented on #239
After a bit more digging, I think the heisen/eigen-bug can be tracked down to random and unpredictable failures in linalg [here](https://github.com/craffel/mir_eval/blob/master/mir_eval/separation.py#L714-L717), where it first tries to do an exact `linalg.solve` and then falls back on `linalg.lstsq`.  I think, in some cases, certain of our test examples can be solved with some blas backends but no

[2017-02-24 21:18] bmcfee commented on #239
Gave this a spin, it's horrendously slow.

[2017-02-24 23:46] faroit commented on #239
B) 😢 we spent so long to get that close to matlabs output... but yes, I think this is okay.

I guess dropping blas-enabled numpy builds for the unit tests is not an option for you anaconda users, right?

[2017-02-24 23:47] faroit commented on #239
@bmcfee did you test with stock numpy vs. mkl or did you try even more blas backends?

[2017-02-25 00:15] bmcfee commented on #239
They're all blas enabled, it's just a question of which blas.  We could try to do a better job of matching the outputs to the test environments, but I think that's sort of missing the point, and wouldn't ensure that different users would get the same results on the same input anyway.

I tried locally on these two numpy builds.

This one passes:
[code]

This one fails:
[code]

[2017-02-27 17:46] craffel commented on #239
This seems fine to me.

[2017-02-27 17:49] craffel commented on #238
What part of `mir_eval` is too slow?  I think most of the metrics are reasonably fast, and those that aren't could probably benefit most from some regular Python hand-optimization.  I don't think it's worth considering Cython, given the goal of "a *transparent* implementation".  numba would be fine with the optional jit decorator.

[2017-02-27 17:49] craffel commented on #237
Is this resolved?

[2017-02-27 18:08] bmcfee commented on #238
The separation module is particularly slow.  Yes, it could benefit from a thorough efficiency audit -- I've noticed some pretty obvious examples of redundant computation -- but I think a lot of its slowness comes from tight-loop calculations that don't trivially vectorize, but would be easily handled by numba.

Some of the segmentation / hierarchy metrics could also benefit from optimization.

I h

[2017-02-27 18:09] bmcfee commented on #237
Conceptually, yes.  It would still be good to have a PR to improve the relevant documentation for this issue though.

[2017-02-27 18:12] craffel commented on #238
I think as a first pass it's worth looking in detail at what metrics are prohibitively slow and if there's an easy way to make them faster without numba (since we can assume for the time being most users will not have numba installed).  Adding numba + optional_jit seems like a no-brainer after that.

[2017-02-27 18:14] craffel commented on #237
Ok, I will leave it to you all to decide how best to improve the docs (since I don't understand the issue and probably won't).

[2017-02-27 18:21] bmcfee commented on #238
Sure.

Side note: is it worth making up a separate issue to put mir_eval in conda-forge?

[2017-02-27 19:09] craffel commented on #238
Sure, wouldn't hurt.  I would prioritize it based on how much people are complaining about it not being in conda-forge.

[2017-02-28 09:24] stefan-balke commented on #238
:complain:

😄

[2017-02-28 17:33] craffel commented on #238
About which functions?

[2017-02-28 17:38] #239 closed

[2017-03-01 18:39] bmcfee opened #241 "Readthedocs?"
Any interest in setting mir_eval up on rtd?  It would be nice to have automatic doc builds for PRs, if nothing else.

[2017-03-03 18:49] craffel commented on #241
Sounds like a good idea to me.

[2017-03-03 18:50] craffel commented on #231
Ping.  If there is any functionality missing, please make it clear; otherwise, I will close.

[2017-03-03 18:51] craffel commented on #229
@georgid

If not or all is ok, we will close the issue.

[2017-03-03 18:51] craffel commented on #226
Was this resolved via #227?

[2017-03-03 18:54] craffel commented on #193
Is the consensus that the required metrics are best left to scikit-learn?  If so, can you close this issue?

[2017-03-03 22:42] justinsalamon commented on #231
Last I heard we'd reached agreement on [how this should be implemented](https://github.com/craffel/mir_eval/issues/231#issuecomment-270072246), but I assumed @stefan-balke was the one who was actually going to do it?

[2017-03-03 23:04] bmcfee commented on #226
I believe so, yes.

[2017-03-04 06:27] stefan-balke commented on #231
Yep, on my list. @justinsalamon, see you at ICASSP then :)

[2017-03-04 06:30] stefan-balke commented on #193
For now it's fine but some day :)

I'm doing this atm with scikit-learn plus pandas, when that is stable I might present it here. But for cleaning up the issues this can be closed imho.

[2017-03-04 07:04] craffel commented on #193
Ok, feel free to re-open if there should be movement on this.

[2017-03-04 07:04] #193 closed

[2017-03-04 07:05] #226 closed

[2017-03-04 18:43] bmcfee commented on #241
Good project for [docathon](https://bids.github.io/docathon/) this coming week.  I'll take a crack at it probably around wednesday.

[2017-03-07 13:58] bmcfee commented on #241
Hrm, looks like only the project owner can set up the integration. :cry:

[2017-03-14 16:25] georgid commented on #229
very sorry for the slow responses.
Better idea for the return format  is to return one additional entry in the tuple:

[code]
Not to break backwards compatibility, one can do boolean parameter, return_indices and set it to false by default, no?

Example:
[code]

I have a file with annotations of lyrics lines. I need to work with particular segment of the song, for which I have the t_min and t_max.

[2017-03-17 18:44] bmcfee opened #243 "Exception classes?"
In implementing #242 , I noticed that the chord submodule defines a derived exception class, but it's the only place where we do this.  Everywhere else, primitive exception types (valueerror, typeerror, etc) are used.

This isn't good practice because it makes it difficult for an end-user to encapsulate exceptions based on what level of the call stack they come from.

Instead, we should have a bas

[2017-03-17 18:47] craffel commented on #243
I'm not opposed to this at all, but I don't think we have intricate enough exceptions to warrant this, by which I mean there aren't many functions (OTOH, would be happy to be corrected) that raise enough different exceptions that the end-user would want to handle separately.

[2017-03-17 18:52] bmcfee commented on #243
It's less about having a deep/wide hierarchy of exceptions than making it easy to catch all mir_eval-generated exceptions in one go, if the caller wants to.  Right now, we can't distinguish mir_eval errors from numpy errors, or anything else.

[2017-03-17 19:39] #217 closed

[2017-03-17 19:58] craffel commented on #243
My point (as usual) is basically that this is worth implementing once people start complaining because they don't have enough fine-grained exception control when they use `mir_eval`, and that is stopping them from doing what they want to.

[2017-03-24 14:51] bmcfee opened #244 "use proper ticker locators for display.labeled_intervals"
This is a minor peeve that I'll probably fix this afternoon:

In interactive mode, the `labeled_intervals` plots do not show the correct vertical axis information in the mouse coordinate display (lower-right of the display window).  This is because tick labels are set directly to the axis, and not run through a `Locator` object from matplotlib.

It should be trivial to swap the tick labeling code

[2017-03-24 15:45] craffel commented on #244
Cool, thank you.

[2017-03-24 18:35] #244 closed

[2017-03-27 16:51] bmcfee opened #246 "sonify.chord, X should be silent but sounds like garbage"
Title says it all.

Background: the chord module distinguishes two "non-chord" labels:

- `N` (no-chord) used to indicate things like silence, crowd noise, or sounds that have no harmony
- `X` (unknown) used to indicate, as far as I can tell, out-of-gamut chords.

The `X` label mainly comes up when a predictor can only operate in a reduced label space (eg, is not allowed to predict 9ths), but you

[2017-03-27 17:17] craffel commented on #246
Good catch.

Seems reasonable to me, provided there's a note in the docstring to this effect.

[2017-03-27 20:28] #246 closed

[2017-04-12 18:47] rabitt opened #248 "mir_eval.util.intervals_to_samples expected behavior"
What's the intended behavior for `mir_eval.util.intervals_to_samples`?

In the following example:
[code]
I expected something close to:
[code]
(i.e. time periods where there is no labeled interval get filled in with `None`)
but instead get:
[code]
Am I missing something?

[2017-04-12 18:54] craffel commented on #248
I think there is an implicit assumption that the intervals are contiguous.  The `fill_value` argument I believe refers to "out of range" meaning before `intervals[0, 0]` or after `intervals[-1, 1]`.  Your expected behavior would still work fine for contiguous intervals and seems reasonable to me though.  @bmcfee knows best here.

[2017-04-12 19:23] bmcfee commented on #248
@craffel is correct; the current implementation does not handle gaps.

[2017-04-12 19:29] craffel commented on #248
Was also interested in your input as to whether we should change the implementation so that it does handle gaps.

[2017-04-12 19:32] rabitt commented on #248
@craffel @bmcfee makes sense. That assumption should probably be in the docs. (Happy to make a pr.) Especially because the description for the variable `intervals` says "An array of time intervals, as returned by `mir_eval.io.load_intervals()`" which could be non-contiguous.

[2017-04-12 21:01] bmcfee commented on #248
yeah, fair point.  It would be easy to support this behavior; feel free to tag this for the next release, i can hack it on friday.

[2017-04-14 19:26] bmcfee commented on #248
I have a prototype working locally for this.

The change is entirely localized to `interpolate_intervals`, since that's where the heavy lifting is done.

One thing I noticed is that it only works if `time_points` is in sorted order.  The only place where `interpolate_intervals` is called in mir_eval is from within `intervals_to_samples`, which only generates sorted time grids.  However, the docume

[2017-04-15 18:49] craffel commented on #248
We should warn/throw an error when the time points are not ordered, and put a note in the docstring mentioning this.  Thanks.

[2017-04-17 13:07] bmcfee commented on #248
Done.  I also rewrote it once more using `np.searchsorted`, so it should be a smidgen faster.

[2017-04-17 16:34] #248 closed

[2017-07-04 06:13] fdlm opened #251 "Extended chords not mapped correctly?"
- Does `mir_eval` handle extended chords correctly? It seems to ignore everything beyond the seventh:
[code]
compared to
[code]
- Does it make sense to treat chords such as `A:maj(9)` and `A:maj(2)` differently in the first place? Both comprise the same pitch classes, and I doubt that one can distinguish between the two in the sound mixture of e.g. a pop/rock song.

[2017-07-04 15:49] ejhumphrey commented on #251
That second line (`In [6]`) is the bug, and should produce the same as `In [8]`. I've confirmed locally, and I'm a little surprised that bug got so far ... but there definitely aren't any tests for that kind of behavior. 😞

I'll try to patch soon, and will tag you in the PR.

[2017-07-04 15:53] ejhumphrey commented on #251
oh, and to your second question ... I don't think `mir_eval` should take a philosophical stance on the difference between an add2 and a 9 chord, and the flag `reduce_extended_chords` lets the user do whichever they need. That said, since the second returned object is a bit-vector of active pitch classes, perhaps `reduce_extended_chords=True` is a more appropriate default.

That decision, however,

[2017-07-04 15:53] ejhumphrey commented on #251
also also thanks for raising the issue 😄

[2017-07-04 16:27] bmcfee commented on #251
I'll chime in and disagree here (of course :grin:).  I think it would be useful to extend the chord encoding vector to a double-octave representation, so that above-octave extensions can be coded unambiguously (and distinct from, say, add2).  Of course, we could retain the default behavior by collapsing out the second octave, but having the double-octave intermediate form might be useful down the

[2017-07-05 08:56] fdlm commented on #251
I agree with setting `reduce_extended_chords=True` might be a better default - this is what I would expect, at least. Would this change affect the `tetrads` measure? It should have no effect on the simple `MajMin`, `Sevenths`, etc. measures, at least.

Regarding the philosophical question - are there any evaluation measures that capture this? If not, I would stick to the [YAGNI](https://en.wikiped

[2017-07-05 09:17] ejhumphrey commented on #251
re: double octave, how do we feel about introducing an argument that determines the length of `semitone_bitmap`? this could be specified as an integer (12, 24, etc), which would allow arbitrary length semitone encodings ... I'm currently unsure of the value of this flexibility, but I could see it being handy. Alternatively, it could be a binary flag to indicate single / double octaves?

re: defaul

[2017-07-05 09:45] fdlm commented on #251
This conflicts, however, with the MIREX evaluation, where indeed `sevenths(C:7(2), C:7) = 1`, because both `C:9` and `C:7(2)` get mapped to `C:7` (see the mapping rules [here](https://github.com/jpauwels/libMusOO/blob/7047766b05b24b053b3806f74c075ba7c4961fa0/MusOO/ChordType.cpp#L416)). I just confirmed that by running `MusOOEvaluator`.

Which brings us back to the philosophical question whether `C

[2017-07-05 10:24] ejhumphrey commented on #251
To be fair, I'm not sure we know what MIREX does for something like `C:7(2)` (at least I don't with any confidence). The most recent [MIREX vocabulary heuristics](http://www.music-ir.org/mirex/wiki/2016:Audio_Chord_Estimation#Chord_Vocabularies) claim to be the following:

The description references ignoring scale degrees beyond the first octave (the example they give is mapping `G:7(#9) --> G:7`

[2017-07-05 13:59] bmcfee commented on #251
A bit more in favor of double-octave representations:

- It's true that no current metric captures the distinction between `C:9` and `C:7(2)`, and yeah, the latter is kind of a garbage chord.  But it might be useful to have the ability to capture extensions in the future -- I'm all about making new metrics if our current ones are broken. :grin:
- OTOH, if you're comparing a `C:9` to ` C:sus2` (on,

[2017-07-06 08:20] ejhumphrey commented on #251
This isn't an issue of metrics so much as it is problem definition. I'm offering the argument that perhaps extensions / bonus scale degrees aren't even chords, _e.g._ `C:7(2)` isn't a real thing. Now, if what that means to say is that both `C:sus2` or `C:7` are both acceptable chords for a given interval, that's one thing; but the problem definition should be careful to draw the line between pitch

[2017-07-07 08:26] fdlm commented on #251
In my understanding, the task of chord recognition should not consider playing techniques or practices for any particular instrument. The problem is, then, that some (many?) annotations out there are probably based on how a song is played on the guitar. This is why I argued before that maybe we cannot really distinguish between in which octave a certain pitch class is present as part of the harmon

[2017-07-07 08:32] ejhumphrey commented on #251
Agreed! but it's been fun / productive regardless. Any thoughts on where it'd be worth moving the conversation?

[2017-07-11 08:00] fdlm commented on #251
Not sure. There was an e-mail going around regarding an MIR slack channel, but the link does not seem to be active anymore. Anyways, we would need to define specific goals of such a discussion in order to make it meaningful, and include a broad community of people so that possible outcomes can be adopted widely.

[2017-07-13 13:30] bmcfee commented on #238
Btw, numba now has wheels on pypi, so we probably could make it a hard dependency.

[2017-07-26 00:50] LukasDrude opened #256 "Use mir_eval.separation.evaluate with speech and noise signals."
@faroit

I would like to use `mir_eval.separation.evaluate` to evaluate the separation performance (SDR, SIR, SNR) of a separation system in the presence of noise.

We may assume the following:

`x_1`: Clean speech, speaker 1
`x_2`: Clean speech, speaker 2
`n`: Additive noise

Now we may have a system `S`, which estimates three (possible permuted) enhanced signals:
`z_1`: Enhanced signal 1
`z_2`: